/* Color First Primary */

.text-primary,
.main-menu a:hover,
.main-menu .dropdown-menu li a:hover,
.header-language__item:hover,
.header-user__links-nav:hover,
.header-user__link:hover,
.header-language:hover,
.btn-link,
.b-links__link:hover,
.pagination .page-item:not(.active) .page-link:hover,
.b-map-nav__link:hover,
.b-map-nav__link.active,
.ui-list-num li:before,
.b-catalog__item:hover,
.breadcrumb-item.active,
.b-post-sidebar__link
{color: #0099cc;}


.bg-primary,
.btn-primary,
.slick-prev:hover,
.slick-next:hover,
.page-item.active .page-link,
.ui-list li:before,
.b-catalog__figure:before,
.custom-control-input:checked ~ .custom-control-label::before
{background-color: #0099cc;}


.btn-primary,
.header-search__input:hover,
.header-search__input:focus,
.slick-prev:hover,
.slick-next:hover,
.pagination .page-link:hover,
.b-catalog__item
 {border-color: #0099cc;}


.btn-link {border-bottom-color: #0099cc;}

.blockquote {
  border-left-color: #0099cc;
}

#page-preloader .spinner
{border-color: #0099cc #0099cc #0099cc transparent;}

.fill-primary,
.header-search__btn:hover,
button.ui-search__btn:hover
{fill: #0099cc !important;}

.stroke-primary
{stroke: #0099cc !important;}
