.pagination {
  display: flex;
  border-radius: 4px;
  position: relative;
  margin-bottom: 0;
  @include list-unstyled();
  @include border-radius();

  li {

    &.active a,
    &.active span {
      z-index: 1;
      color: #ffffff;
    }

    &.disabled a,
    &.disabled span {
      color: $pagination-disabled-color;
      pointer-events: none;
      // Opinionated: remove the "hand" cursor set previously for .page-link
      cursor: auto;
      background-color: $pagination-disabled-bg;
      border-color: $pagination-disabled-border-color;
    }
  }

  .page-link {
    position: relative;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    width: 2.188rem;
    line-height: calc(2.188rem - 1px);
    border-radius: 0.188rem;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    text-align: center;

    .ic {
      fill: #dde1e6;
      transition: all .3s;
    }

    &:hover {
      z-index: 2;
      text-decoration: none;
      background-color: transparent;
      .ic {
        fill: #3b4256;
      }
    }

    &:focus {
      z-index: 2;
      outline: $pagination-focus-outline;
      box-shadow: $pagination-focus-box-shadow;
    }

    // Opinionated: add "hand" cursor to non-disabled .page-link elements
    &:not(:disabled):not(.disabled) {
      cursor: pointer;
    }

    @include media-breakpoint-down(sm) {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

}



//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}
