.b-main-slider {
  height: 100%;
  &__item {
    position: relative;
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,.5);
    }
  }
  &__wrap {
    position: relative;
    color: #ffffff;
    z-index: 2;
    display: table;
    min-height: 31.25rem;
    padding: 20px 30px 40px;
  }
  &__inner {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10%;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__info {
  }
  .btn {
    margin-top: 50px;
  }
  .slick-list,
  .slick-track {
    height: 100%;
  }


  &_full-width {
    height: auto;
  }

  &_full-width & {
    &__wrap {
      height: 41.25rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 840px;
    }
    &__inner {
      padding-right: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    &__title {
      font-size: 2rem;
    }
    &__wrap {
      padding-left: 20px;
      padding-right: 20px;
      min-height: 0;
    }
    &__inner {
      padding-right: 0;
    }
    .btn {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
