mixin b-main-slider()

  .b-main-slider.js-slider(class!=attributes.class data-slick='{"arrows": false, "autoplay": true, "dots": true, "fade": true}')
    .b-main-slider__item
      .b-main-slider__img
        img.img-scale(src="assets/media/content/b-main-slider/img-1.jpg", alt="foto")
      .b-main-slider__wrap
        .b-main-slider__inner
          .b-main-slider__title.ui-title Туристичний Львів
          .b-main-slider__info Львів  — місто обласного значення в Україні, адміністративний центр Львівської області, національно-культурний та освітньо-науковий осередок країни, великий промисловий центр і транспортний вузол, вважається столицею Галичини та центром Західної України.
          a.btn.btn-primary(href="#") дізнатись більше

    .b-main-slider__item
      .b-main-slider__img
        img.img-scale(src="assets/media/content/b-post/1025x530/1.jpg", alt="foto")
      .b-main-slider__wrap
        .b-main-slider__inner
          .b-main-slider__title.ui-title Туристичний Львів
          .b-main-slider__info Львів  — місто обласного значення в Україні, адміністративний центр Львівської області, національно-культурний та освітньо-науковий осередок країни, великий промисловий центр і транспортний вузол, вважається столицею Галичини та центром Західної України.
          a.btn.btn-primary(href="#") дізнатись більше

    .b-main-slider__item
      .b-main-slider__img
        img.img-scale(src="assets/media/content/b-main-slider/img-1.jpg", alt="foto")
      .b-main-slider__wrap
        .b-main-slider__inner
          .b-main-slider__title.ui-title Туристичний Львів
          .b-main-slider__info Львів  — місто обласного значення в Україні, адміністративний центр Львівської області, національно-культурний та освітньо-науковий осередок країни, великий промисловий центр і транспортний вузол, вважається столицею Галичини та центром Західної України.
          a.btn.btn-primary(href="#") дізнатись більше


  // end .b-main-slider
  |
  |


mixin b-main-slider-2()

  .b-main-slider.b-main-slider_full-width.js-slider(class!=attributes.class data-slick='{"arrows": false, "autoplay": false, "dots": true, "fade": true}')
    .b-main-slider__item.text-center
      .b-main-slider__img
        img.img-scale(src="assets/media/content/b-main-slider/img-2.jpg", alt="foto")
      .b-main-slider__wrap
        .b-main-slider__inner
          .b-main-slider__title.ui-title Смачний Львів
          .b-main-slider__info Всі заклади Львова - довідник всіх ресторанів Львова. Львівський довідник допоможе оперативно знайти необхідну інформацію про заклади харчування у Львові, контактну інформацію, фото та відгуки про них.

    .b-main-slider__item.text-center
      .b-main-slider__img
        img.img-scale(src="assets/media/content/b-main-slider/img-2.jpg", alt="foto")
      .b-main-slider__wrap
        .b-main-slider__inner
          .b-main-slider__title.ui-title Смачний Львів
          .b-main-slider__info Всі заклади Львова - довідник всіх ресторанів Львова. Львівський довідник допоможе оперативно знайти необхідну інформацію про заклади харчування у Львові, контактну інформацію, фото та відгуки про них.

    .b-main-slider__item.text-center
      .b-main-slider__img
        img.img-scale(src="assets/media/content/b-main-slider/img-2.jpg", alt="foto")
      .b-main-slider__wrap
        .b-main-slider__inner
          .b-main-slider__title.ui-title Смачний Львів
          .b-main-slider__info Всі заклади Львова - довідник всіх ресторанів Львова. Львівський довідник допоможе оперативно знайти необхідну інформацію про заклади харчування у Львові, контактну інформацію, фото та відгуки про них.

  // end .b-main-slider
  |
  |



mixin b-main-slider-3()

  .b-main-slider.b-main-slider_full-width.js-slider(class!=attributes.class data-slick='{"arrows": false, "autoplay": false, "dots": true, "fade": true}')
    .b-main-slider__item.text-center
      .b-main-slider__img
        img.img-scale(src="assets/media/content/b-main-slider/img-3.jpg", alt="foto")
      .b-main-slider__wrap
        .b-main-slider__inner
          .b-main-slider__title.ui-title Туристичний Львів
          .b-main-slider__info Львів  — місто обласного значення в Україні, адміністративний центр Львівської області, національно-культурний та освітньо-науковий осередок країни, великий промисловий центр і транспортний вузол, вважається столицею Галичини та центром Західної України.
    .b-main-slider__item.text-center
      .b-main-slider__img
        img.img-scale(src="assets/media/content/b-main-slider/img-3.jpg", alt="foto")
      .b-main-slider__wrap
        .b-main-slider__inner
          .b-main-slider__title.ui-title Туристичний Львів
          .b-main-slider__info Львів  — місто обласного значення в Україні, адміністративний центр Львівської області, національно-культурний та освітньо-науковий осередок країни, великий промисловий центр і транспортний вузол, вважається столицею Галичини та центром Західної України.

    .b-main-slider__item.text-center
      .b-main-slider__img
        img.img-scale(src="assets/media/content/b-main-slider/img-3.jpg", alt="foto")
      .b-main-slider__wrap
        .b-main-slider__inner
          .b-main-slider__title.ui-title Туристичний Львів
          .b-main-slider__info Львів  — місто обласного значення в Україні, адміністративний центр Львівської області, національно-культурний та освітньо-науковий осередок країни, великий промисловий центр і транспортний вузол, вважається столицею Галичини та центром Західної України.


  // end .b-main-slider
  |
  |
