mixin b-post-1(img, labelClass, label, title, info, date)

  a.b-post.b-post-1(href="#" class!=attributes.class)
    .b-post__media
      img.b-post__img.img-scale(src="assets/media/content/b-post/" + img + ".jpg", alt="photo")
      span.b-post__label(class= labelClass)= label
    .b-post__title.ui-title-inner= title
    .b-post__info= info

    if date
      time.b-post__date(datetime="2019-01-01")= date

  // end .b-post
  |
  |


mixin b-post-2(img, labelClass, label, title, info, date)

  a.b-post.b-post-2(href="#" class!=attributes.class)
    img.b-post__img.img-scale(src="assets/media/content/b-post/" + img + ".jpg", alt="photo")
    .b-post__wrap
      span.b-post__label(class= labelClass)= label
      .b-post__title.ui-title-inner= title
      time.b-post__date(datetime="2019-01-01")= date

  // end .b-post
  |
  |


mixin b-post-3(img, title, info, date)

  a.b-post.b-post-3(href="#" class!=attributes.class)
    .b-post__inner.row
      .b-post__media.col-md-5
        img.b-post__img.img-scale(src="assets/media/content/b-post/" + img + ".jpg", alt="photo")
      .b-post__wrap.col-md-7
        .b-post__title= title
        .b-post__info= info
        time.b-post__date(datetime="2019-01-01")= date

  // end .b-post
  |
  |


mixin b-post-4(img, labelClass, label, title, info)

  a.b-post.b-post-4(href="#" class!=attributes.class)
    .b-post__media
      img.b-post__img.img-scale(src="assets/media/content/b-post/" + img + ".jpg", alt="photo")
    .b-post__wrap
      span.b-post__label(class= labelClass)= label
      if title
        .b-post__title.ui-title-inner= title
      if info
        .b-post__info= info

  // end .b-post
  |
  |


mixin b-post-full(img, title, info, date)

  article.b-post-f.b-post.ui-lh-sm(class!=attributes.class)
    .container
      .row.justify-content-between.align-items-baseline
        .col-auto
          h1.b-post__title.ui-title Топ 10 місць, які треба відвідати
        .col-auto
          time.b-post__date.mb-3(datetime="2019-01-01") Листопад 14, 2018
      .b-post__meta
        a.b-post__meta-item(href="#") Львів
        a.b-post__meta-item(href="#") Визначні місця
        a.b-post__meta-item(href="#") Новина
        a.b-post__meta-item(href="#") Львів
        a.b-post__meta-item(href="#") Визначні місця
        a.b-post__meta-item(href="#") Новина
        a.b-post__meta-item(href="#") Львів
        a.b-post__meta-item(href="#") Визначні місця
        a.b-post__meta-item(href="#") Новина
        a.b-post__meta-item(href="#") Львів
        a.b-post__meta-item(href="#") Визначні місця
        a.b-post__meta-item(href="#") Новина
        a.b-post__meta-item(href="#") Львів
        a.b-post__meta-item(href="#") Визначні місця
        a.b-post__meta-item(href="#") Новина
        a.b-post__meta-item(href="#") Львів
        a.b-post__meta-item(href="#") Визначні місця
        a.b-post__meta-item(href="#") Новина


      .b-post__media.b-post__media_decor.b-post__media_left
        img.b-post__img.img-scale(src="assets/media/content/b-post/700x470/1.jpg", alt="photo")
        span.b-post__label.b-post__label_red фестивалі

      p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
      p На відміну від поширеної думки Lorem Ipsum не є випадковим набором літер. Він походить з уривку класичної латинської літератури 45 року до н.е., тобто має більш як 2000-річну історію. Річард Макклінток, професор латини з коледжу Хемпдін-Сидні, що у Вірджінії, вивчав одне з найменш зрозумілих латинських слів - consectetur - з уривку Lorem Ipsum, і у пошуку цього слова в класичній літературі знайшов безсумнівне джерело. Lorem Ipsum походить з розділів 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" ("Про межі добра і зла"), написаного у 45 році до н.е. Цей трактат з теорії етики був дуже популярним в епоху Відродження. Перший рядок Lorem Ipsum, "Lorem ipsum dolor sit amet..." походить з одного з рядків розділу 1.10.32. Класичний текст, використовуваний з XVI сторіччя, наведено нижче для всіх зацікавлених. Також точно за оригіналом наведено розділи 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" разом із перекладом англійською, виконаним 1914 року Х.Рекемом.


      p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
      p На відміну від поширеної думки Lorem Ipsum не є випадковим набором літер. Він походить з уривку класичної латинської літератури 45 року до н.е., тобто має більш як 2000-річну історію. Річард Макклінток, професор латини з коледжу Хемпдін-Сидні, що у Вірджінії, вивчав одне з найменш зрозумілих латинських слів - consectetur - з уривку Lorem Ipsum, і у пошуку цього слова в класичній літературі знайшов безсумнівне джерело. Lorem Ipsum походить з розділів 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" ("Про межі добра і зла"), написаного у 45 році до н.е. Цей трактат з теорії етики був дуже популярним в епоху Відродження. Перший рядок Lorem Ipsum, "Lorem ipsum dolor sit amet..." походить з одного з рядків розділу 1.10.32.
      p Класичний текст, використовуваний з XVI сторіччя, наведено нижче для всіх зацікавлених. Також точно за оригіналом наведено розділи 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" разом із перекладом англійською, виконаним 1914 року Х.Рекемом.

      .text-center.mt-5.mb-5
        a.js-zoom-images(href="assets/media/content/b-post/1140x600/1.jpg")
          img.img-fluid(src="assets/media/content/b-post/1140x600/1.jpg", alt="photo")

      h2.b-post__title-inner Опис

      p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.

      .row
        .col-md-6
          ul.ui-list
            li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.

        .col-md-6
          ol.ui-list-num
            li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.

      p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.

      blockquote.blockquote
        p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.
        footer.blockquote-footer.text-primary
          cite(title="Иван Иванов") Иван Иванов

      p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.



  // end .b-post
  |
  |


mixin b-post-full-open(img, title, info, date)

  article.b-post-f.b-post.ui-lh-sm(class!=attributes.class)
    .container
      .row.justify-content-between.align-items-baseline
        .col-auto
          h1.b-post__title.ui-title Топ 10 місць, які треба відвідати
        .col-auto
          time.b-post__date.mb-3(datetime="2019-01-01") Листопад 14, 2018
      .b-post__meta
        a.b-post__meta-item(href="#") Львів
        a.b-post__meta-item(href="#") Визначні місця
        a.b-post__meta-item(href="#") Новина
        a.b-post__meta-item(href="#") Львів
        a.b-post__meta-item(href="#") Визначні місця

      .b-post-sidebar
        .b-post-sidebar__section
          .b-post-sidebar__group
            .b-post-sidebar__item Дата проведення:
            .b-post-sidebar__item
              span.b-post-sidebar__date 12
              |
              |
              |  листопада 2018

          .b-post-sidebar__group
            .b-post-sidebar__item Час проведення:
            .b-post-sidebar__item.font-weight-bold 15:30 - 16:00

          .b-post-sidebar__group
            .b-post-sidebar__item.font-weight-bold Адреса:
            |
            |
            a.b-post-sidebar__link.js-popup-video(href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom") Львівська обласна філармонія, вул. Чайковського 7

          .b-post-sidebar__group
            .b-post-sidebar__item.font-weight-bold Телефон:
            |
            |
            a.b-post-sidebar__link(href="tel:+380990000000") +38 (099) 00 00 000
          .b-post-sidebar__group
            .b-post-sidebar__item.font-weight-bold E-mail:
            |
            |
            a.b-post-sidebar__link(href="mailto:email@gmail.com") email@gmail.com
          .b-post-sidebar__group
            .b-post-sidebar__item.font-weight-bold Організатор:
            |
            |
            a.b-post-sidebar__link(href="#") Львівська обласна філармонія

        .b-post-sidebar__section.b-post-sidebar__section_links.text-center
          a.b-post-sidebar__link.text-uppercase.d-block.font-weight-bold.text-nowrap.mb-4(href="#") Події на локації
          a.b-post-sidebar__link.text-uppercase.d-block.font-weight-bold.text-nowrap.mb-4(href="#") знаходиться біля
          a.b-post-sidebar__link.text-uppercase.d-block.font-weight-bold.text-nowrap(href="#") подібні місця


      .b-post__media.b-post__media_right.b-post__media_decor
        img.b-post__img.img-scale(src="assets/media/content/b-post/700x470/1.jpg", alt="photo")
        span.b-post__label.b-post__label_red фестивалі


      p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
      p На відміну від поширеної думки Lorem Ipsum не є випадковим набором літер. Він походить з уривку класичної латинської літератури 45 року до н.е., тобто має більш як 2000-річну історію. Річард Макклінток, професор латини з коледжу Хемпдін-Сидні, що у Вірджінії, вивчав одне з найменш зрозумілих латинських слів - consectetur - з уривку Lorem Ipsum, і у пошуку цього слова в класичній літературі знайшов безсумнівне джерело. Lorem Ipsum походить з розділів 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" ("Про межі добра і зла"), написаного у 45 році до н.е. Цей трактат з теорії етики був дуже популярним в епоху Відродження. Перший рядок Lorem Ipsum, "Lorem ipsum dolor sit amet..." походить з одного з рядків розділу 1.10.32. Класичний текст, використовуваний з XVI сторіччя, наведено нижче для всіх зацікавлених. Також точно за оригіналом наведено розділи 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" разом із перекладом англійською, виконаним 1914 року Х.Рекемом.


      p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
      p На відміну від поширеної думки Lorem Ipsum не є випадковим набором літер. Він походить з уривку класичної латинської літератури 45 року до н.е., тобто має більш як 2000-річну історію. Річард Макклінток, професор латини з коледжу Хемпдін-Сидні, що у Вірджінії, вивчав одне з найменш зрозумілих латинських слів - consectetur - з уривку Lorem Ipsum, і у пошуку цього слова в класичній літературі знайшов безсумнівне джерело. Lorem Ipsum походить з розділів 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" ("Про межі добра і зла"), написаного у 45 році до н.е. Цей трактат з теорії етики був дуже популярним в епоху Відродження. Перший рядок Lorem Ipsum, "Lorem ipsum dolor sit amet..." походить з одного з рядків розділу 1.10.32.
      p Класичний текст, використовуваний з XVI сторіччя, наведено нижче для всіх зацікавлених. Також точно за оригіналом наведено розділи 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" разом із перекладом англійською, виконаним 1914 року Х.Рекемом.

      .text-center.mt-5.mb-5
        a.js-zoom-images(href="assets/media/content/b-post/1140x600/1.jpg")
          img.img-fluid(src="assets/media/content/b-post/1140x600/1.jpg", alt="photo")

      h2.b-post__title-inner Опис

      p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.

      .row
        .col-md-6
          ul.ui-list
            li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.

        .col-md-6
          ol.ui-list-num
            li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            li Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.

      p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.

      blockquote.blockquote
        p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.
        footer.blockquote-footer.text-primary
          cite(title="Иван Иванов") Иван Иванов

      p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.



  // end .b-post
  |
  |
