.main-menu {
  &__item {
    &.active,
    &:hover {
      border-bottom-color: #f4f7fb;
    }
    &.show {
      box-shadow: 0 .125rem .25rem rgba(0, 7, 123, .04), 0 .5rem 1.25rem rgba(0, 0, 0, .06);
    }
  }
  &__link {
    display: block;
    color: $color-main;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-transform: uppercase;
    padding: 10px 35px;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
    &[aria-expanded='true'] {
      color: #4a4a4a;
      background-color: #fff;
    }
  }
  .dropdown-menu {
    top: 100%;
    width: 100%;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 7px;
    border: none;
    border-radius: 0;
    text-align: center;
    li {
      position: relative;
      padding-right: 14px;
      padding-left: 14px;
      position: relative;
      a {
        display: block;
        color: #666666;
        font-size: 0.875rem;
        line-height: 1.2;
        padding-bottom: 14px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }


  @include media-breakpoint-down(lg) {
    &__link {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 65px;
    margin-left: 0;
    padding-top: 30px;
    &__link {
      padding-bottom: 0;
      padding-left: 0;
      font-size: 1rem;
      color: #fff;
    }
    .dropdown-menu {
      text-align: left;
      width: auto;
      li a {
        font-size: 1.2rem;
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }

  }
}


@media only screen and (min-width: 991px) {

  .main-menu .dropdown:hover {
    color: #4a4a4a;
    background-color: #fff;
    > ul {
      display: block;
    }
  }
}

.main-menu .dropdown-menu .dropdown-menu {
  top: 0;
  right: 100%;
  left: auto;
}
