mixin navig()
  ul.main-menu.navbar-nav
    li.main-menu__item.dropdown
      a.main-menu__link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Вже і зараз
      ul.dropdown-menu(aria-labelledby="navbarDropdown")
        li
          a(href="#") Свіжі новини
        li
          a(href="#") Актуальні події
        li
          a(href="#") Рекомендовані події
        li
          a(href="#") City Card
        li
          a(href="#") Топові місця
    li.main-menu__item
      a.main-menu__link(href="#") Твій Львів
    li.main-menu__item
      a.main-menu__link(href="#") Події
    li.main-menu__item
      a.main-menu__link(href="#") Сплануй подорож
    li.main-menu__item
      a.main-menu__link(href="#") Бізнес

  // end .navig
  |
  |
