.b-video {
  padding-top: 75px;
  padding-bottom: 100px;
  &__info {
    margin-left: -15px;
    padding: 50px 30px 30px;
    background-color: rgba(255, 255, 255 , .7);
    box-shadow: 0 0.625rem 2.5rem rgba(0, 0, 0, 0.1);
  }
  .ui-title {
    margin-bottom: 40px;
  }
  p + p {
    margin-top: 1.5rem;
  }

  @include media-breakpoint-down(md) {
    &__info {
      margin-left: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
    padding-top: 0;
  }
}
