mixin b-registration()

  form.b-registration.ui-form.needs-validation(novalidate class!=attributes.class)
    .form-group
      .ui-input
        label.ui-input__label(for="registrSurname")
          span.ui-input__label-content Прізвище
            sup.ui-input__label-check *
        input.ui-input__field.form-control.js-input#registrSurname(type="text" required)
        .invalid-feedback Ви не заповнили поле
    .row
      .col-sm-5.ui-form-col
        .form-group
          .ui-input
            label.ui-input__label(for="registrName")
              span.ui-input__label-content Iм'я
                sup.ui-input__label-check *
            input.ui-input__field.form-control.js-input#registrName(type="text" required)
            .invalid-feedback Ви не заповнили поле
      .col-sm-7.ui-form-col
        .form-group
          .ui-input
            label.ui-input__label(for="registrPatronymic")
              span.ui-input__label-content По-батькові
                sup.ui-input__label-check *
            input.ui-input__field.form-control.js-input#registrPatronymic(type="text" required)
            .invalid-feedback Ви не заповнили поле
    .form-group
      .ui-input
        label.ui-input__label(for="registrAddress")
          span.ui-input__label-content Адреса
            sup.ui-input__label-check *
        input.ui-input__field.form-control.js-input#registrAddress(type="text" required)
        .invalid-feedback Ви не заповнили поле
    .row
      .col-sm-5.ui-form-col
        .form-group
          .ui-input
            label.ui-input__label(for="registrPassword")
              span.ui-input__label-content Пароль
                sup.ui-input__label-check *
            input.ui-input__field.form-control.js-input#registrPassword(type="password" required)
            .invalid-feedback Ви не заповнили поле
      .col-sm-7.ui-form-col
        .form-group
          .ui-input
            label.ui-input__label(for="registrRePassword")
              span.ui-input__label-content Пароль ще раз
                sup.ui-input__label-check *
            input.ui-input__field.form-control.js-input#registrRePassword(type="password" required)
            .invalid-feedback Ви не заповнили поле

    .form-group
      .input-group.date.bg-gray
        .ui-input.col
          label.ui-input__label(for="registrDate")
            span.ui-input__label-content Дата народження
          input.ui-input__field.form-control.js-input#registrDate(type="text")
          .invalid-feedback Поле не заповненне
        span.input-group-addon.col-auto
          != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic fill-main', iconWidth: '30', iconHeight: '30'})


    .form-group
      .ui-input
        label.ui-input__label(for="registrEmail")
          span.ui-input__label-content Електронна пошта
            sup.ui-input__label-check *
        input.ui-input__field.form-control.js-input#registrEmail(type="email" required)
        .invalid-feedback Ви не заповнили поле

    .form-group
      .checkbox-group.custom-control.custom-checkbox
        input.custom-control-input#check-1(type="checkbox")
        label.ui-label.custom-control-label(for="check-1")
          span.d-block Я погоджуюсь зі зберіганням та обробкою персональних даних згідно Закону України «Про захист персональних даних»
          span.d-block Підтверджую, що не розміщувати інформацію з обмеженим доступом та будь-яку іншу інформацію або дані крім публічних
          span.d-block Я ознайомлений(на) з правилами модерації
          span.d-block Я ознайомлений(на) з регламентом обробки інформації
          span.d-block Мені виповнилося 16 років
    .row
      .col-md-6.offset-md-3
        .form-group
          button.btn.btn-primary.w-100 Зареєструватися

    .b-registration__link.text-center.mb-4 Або увійдіть за допомогою:

    .form-group.row
      .col-lg-6
        a.ui-form__soc-link(href="https://bankid.privatbank.ua/LoginP24/loginNext" target="_blank" rel="nofollow")
          img.img-fluid(src="assets/media/general/privat.png", alt="Приват")
          | BankID від Приват24
      .col-lg-6
        a.ui-form__soc-link(href="https://id.gov.ua/" target="_blank" rel="nofollow")
          img.img-fluid(src="assets/media/general/gov-id.png", alt="Gov Id")
          | Система ідентифікації


    .b-registration__footer.ui-form__footer
      a.b-registration__link.ui-form__link(href="#")
        != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic', iconWidth: '20', iconHeight: '20'})
        | Є аккаунт? Увійдіть

  // end .b-registration
