.b-transport {
  margin-bottom: 50px;
  &__media {
    height: 200px;
    width: 100%;
  }
  &__title {
    font-size: 2.3rem;
    font-weight: 700;
    margin-top: 11px;
    margin-bottom: 8px;
  }
}

.b-transport-descrip {
  margin-bottom: 16px;
  line-height: 1.33;
  font-size: 1.2rem;
  &__item {}
  &__title {
    font-weight: 700;
  }
}
