mixin b-transport(img, title)

  .b-transport(class!=attributes.class)
    .b-transport__media
      img.img-scale(src="assets/media/content/b-transport/" + img + ".jpg", alt="photo")
    .b-transport__title= title
    .b-transport-descrip
      .b-transport-descrip__item
        .b-transport-descrip__title Залізничний вокзал - Центр
      .b-transport-descrip__item
        span.b-transport-descrip__title Маршрут:
        span.b-transport-descrip__info  ВОКЗАЛ → вул. Чернівецька → вул. С. Бандери → вул. Коперника → вул. Дорошенка → пл. Ринок → вул. Руська → вул. Підвальна → вул. Винниченка → вул. І. Франка → вул. Вітовського → вул. Котляревського → вул. Київська → вул. С. Бандери → вул. Чернівецька → ВОКЗАЛ.

    .b-transport__descrip
      .b-transport-descrip__item
        span.b-transport-descrip__title Графік руху:
        span.b-transport-descrip__info  06:00 - 22:00
      .b-transport-descrip__item
        span.b-transport-descrip__title Інтервал:
        span.b-transport-descrip__info  10-15хв.
      .b-transport-descrip__item
        span.b-transport-descrip__title Вартість проїзду:
        span.b-transport-descrip__info   5 грн.


  // end .b-transport
  |
  |



