mixin b-catalog()

  .b-catalog.row(class!=attributes.class)
    .col
      a.b-catalog__item(href="#")
        .b-catalog__figure
          != pugHelpers.Icon.call(locals, {iconName: 'book', className: 'ic', iconWidth: '50', iconHeight: '50'})
        .b-catalog__title Офіційний путівник<br>по Львову 2017
    .col
      a.b-catalog__item(href="#")
        .b-catalog__figure
          != pugHelpers.Icon.call(locals, {iconName: 'book', className: 'ic', iconWidth: '50', iconHeight: '50'})
        .b-catalog__title Львівські туристичні<br>продукти 2014
    .col
      a.b-catalog__item(href="#")
        .b-catalog__figure
          != pugHelpers.Icon.call(locals, {iconName: 'book', className: 'ic', iconWidth: '50', iconHeight: '50'})
        .b-catalog__title Львівські туристичні<br>продукти 2013
    .col
      a.b-catalog__item(href="#")
        .b-catalog__figure
          != pugHelpers.Icon.call(locals, {iconName: 'book', className: 'ic', iconWidth: '50', iconHeight: '50'})
        .b-catalog__title Офіційний путівник<br>по Львову 2012
    .col
      a.b-catalog__item(href="#")
        .b-catalog__figure
          != pugHelpers.Icon.call(locals, {iconName: 'book', className: 'ic', iconWidth: '50', iconHeight: '50'})
        .b-catalog__title Додаток



  // end .b-catalog
  |
  |
