.b-catalog {
  padding-top: 24px;
  margin-bottom: 30px;
  &__item {
    text-align: center;
    color: #000;
    display: block;
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
    position: relative;
    min-height: 9rem;
    padding: 48px 10px 10px;
    margin-bottom: 30px;
    &:hover {
      text-decoration: none;
    }
  }
  &__figure {
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    display: block;
    background-color: #FFF;
    padding: 0 20px 0 33px;
    &:before {
      content: '';
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      left: 24px;
      bottom: -6px;
    }
    .ic {
      position: relative;
      z-index: 1;
    }
  }
  &__title {
    line-height: 1.2;
  }
}
