doctype html
html(class="no-js", lang="uk")

  include ../components/loader/loader
  include ../components/head/head
  include ../components/header/header
  include ../components/footer/footer
  include ../components/b-soc-link/b-soc-link
  include ../components/b-modal-gov/b-modal-gov

  block head

  body

    block loader
      +loader()



    .page-wrapper.l-theme#main-content

      .page-inner

        block header

        block content

      +footer()

      +b-modal-gov()


    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();



    // ++++++++++++
    // MAIN SCRIPTS
    // ++++++++++++

    script(src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-migrate-1.4.1.min.js")

    // Bootstrap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")


    // Select customization
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js")

    // Pop-up window
    script(src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js")


    // Accessibility
    script(src="assets/plugins/accessibility/accessibility.min.js")

    // Scale images
    script(src="assets/plugins/ofi.min.js")

    // Slider
    script(src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')


    block scripts

    // User customization
    script(src='assets/js/custom.js')
