extends _template.pug

block head
  head
    +head(head.defaults)

block content

  main.l-content
    .container

      .section-default.text-center.pb-5
        h1 Сторінки
        ol.list-page(style="text-align: left;")
          li
            a.text-success(href="index.html" target="_blank") Головна
          li
            a.text-success(href="index_login.html" target="_blank") Головна вхід
          li
            a.text-success(href="events.html" target="_blank") Актуальні події
          li
            a.text-success(href="events-2.html" target="_blank") Рекомендовані події
          li
            a.text-success(href="news.html" target="_blank") Новини
          li
            a.text-success(href="hostels.html" target="_blank") Готелі
          li
            a.text-success(href="business.html" target="_blank") Бізнес
          li
            a.text-success(href="news-item.html" target="_blank") Новина
          li
            a.text-success(href="event-item.html" target="_blank") Подія
          li
            a.text-success(href="event-item-2.html" target="_blank") Заклад
          li
            a.text-success(href="hostels-item.html" target="_blank") Готель
          li
            a.text-success(href="plan-trip.html" target="_blank") Сплануй подорож
          li
            a.text-success(href="transport.html" target="_blank") Громадський транспорт
          li
            a.text-success(href="food.html" target="_blank") Їжа
          li
            a.text-success(href="invest.html" target="_blank") Інвестеційні проекти
          li
            a.text-success(href="about.html" target="_blank") Про Львів
          li
            a.text-success(href="guides.html" target="_blank") Путівники та карти
          li
            a.text-success(href="city.html" target="_blank") Твій Львів
          li
            a.text-success(href="top.html" target="_blank") Топові  місця
          li
            a.text-success(href="login.html" target="_blank") Логін
          li
            a.text-success(href="registration.html" target="_blank") Реєстрація

  .page__buffer
