extends _template.pug

include ../components/b-post/b-post
include ../components/b-map/b-map
include ../components/b-main-slider/b-main-slider
include ../components/b-transport/b-transport
include ../components/b-catalog/b-catalog


block head
  head
    +head(head.home)


block header
  +header('Твій Львів', '')


block content
  main.l-main-content
    section.section-area
      .container
        h1.ui-title.text-uppercase.mb-3 твій львів
        .b-post__meta
          a.b-post__meta-item(href="#") Львів
          a.b-post__meta-item(href="#") Визначні місця
          a.b-post__meta-item(href="#") Новина
          a.b-post__meta-item(href="#") Львів
          a.b-post__meta-item(href="#") Визначні місця

        +b-main-slider-3()(class="mb-5")

        .pb-5.ui-lh-sm
          p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.

          p На відміну від поширеної думки Lorem Ipsum не є випадковим набором літер. Він походить з уривку класичної латинської літератури 45 року до н.е., тобто має більш як 2000-річну історію. Річард Макклінток, професор латини з коледжу Хемпдін-Сидні, що у Вірджінії, вивчав одне з найменш зрозумілих латинських слів - consectetur - з уривку Lorem Ipsum, і у пошуку цього слова в класичній літературі знайшов безсумнівне джерело. Lorem Ipsum походить з розділів 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" ("Про межі добра і зла"), написаного у 45 році до н.е. Цей трактат з теорії етики був дуже популярним в епоху Відродження. Перший рядок Lorem Ipsum, "Lorem ipsum dolor sit amet..." походить з одного з рядків розділу 1.10.32. Класичний текст, використовуваний з XVI сторіччя, наведено нижче для всіх зацікавлених. Також точно за оригіналом наведено розділи 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" разом із перекладом англійською, виконаним 1914 року Х.Рекемом.

        +b-map('', '')(class="pt-4")

    .section-area
      .container
        .row
          .col-lg-4.col-md-6
            +b-post-4('498x300/5', 'b-post__label_green', 'Їжа та напої', '', 'Детальніше')(class="b-post-4 b-post_hover b-post_hover_green")
          .col-lg-4.col-md-6
            +b-post-4('498x300/13', 'b-post__label_red', 'Музеї/Галереї', '', 'Детальніше')(class="b-post-4 b-post_hover b-post_hover_red")
          .col-lg-4.col-md-6
            +b-post-4('498x300/14', 'b-post__label_orange', 'Театри/Філармонії', '', 'Детальніше')(class="b-post-4 b-post_hover b-post_hover_orange")
          .col-lg-4.col-md-6
            +b-post-4('498x300/15', 'b-post__label_blue', "Пам'ятки", '', 'Детальніше')(class="b-post-4 b-post_hover b-post_hover_blue")
          .col-lg-4.col-md-6
            +b-post-4('498x300/16', 'b-post__label_pink', 'Громадські місця', '', 'Детальніше')(class="b-post-4 b-post_hover b-post_hover_pink")
          .col-lg-4.col-md-6
            +b-post-4('498x300/17', 'b-post__label_green', 'Атракції', '', 'Детальніше')(class="b-post-4 b-post_hover b-post_hover_green")
          .col-lg-4.col-md-6
            +b-post-4('498x300/18', 'b-post__label_red', 'Парки', '', 'Детальніше')(class="b-post-4 b-post_hover b-post_hover_red")
          .col-lg-4.col-md-6
            +b-post-4('498x300/19', 'b-post__label_orange', 'Тури', '', 'Детальніше')(class="b-post-4 b-post_hover b-post_hover_orange")
          .col-lg-4.col-md-6
            +b-post-4('498x300/20', 'b-post__label_blue', 'Навколо Львова', '', 'Детальніше')(class="b-post-4 b-post_hover b-post_hover_blue")



    section.section-area.pt-5.mt-3
      .container
        h2.ui-title.text-uppercase Рекомендовані місця
        .row
          .col-xl-4
            +b-post-1('498x300/10', 'b-post__label_red', 'Спорт і відпочинок', 'Топ 10 місць, які треба відвідати', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/11', 'b-post__label_orange', 'КАВА ТА СМАКОЛИКИ', 'Галицька кухня', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/12', 'b-post__label_green', 'ФЕСТИВАЛІ І ТВОРЧІСТЬ', 'Львів — столиця фестивалів', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')



    section.section-area.pt-4
      .container
        h2.ui-title.text-uppercase Популярні заклади
        .row
          .col-xl-4
            +b-post-1('498x300/10', 'b-post__label_red', 'Спорт і відпочинок', 'Топ 10 місць, які треба відвідати', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/11', 'b-post__label_orange', 'КАВА ТА СМАКОЛИКИ', 'Галицька кухня', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/12', 'b-post__label_green', 'ФЕСТИВАЛІ І ТВОРЧІСТЬ', 'Львів — столиця фестивалів', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')



    section.section-area.pt-4
      .container
        h2.ui-title.text-uppercase Вас це може зацікавити
        .row
          .col-xl-4
            +b-post-1('498x300/10', 'b-post__label_red', 'Спорт і відпочинок', 'Топ 10 місць, які треба відвідати', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/11', 'b-post__label_orange', 'КАВА ТА СМАКОЛИКИ', 'Галицька кухня', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/12', 'b-post__label_green', 'ФЕСТИВАЛІ І ТВОРЧІСТЬ', 'Львів — столиця фестивалів', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')


  // end .main-content
  |
  |


block scripts
  // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')
