extends _template.pug

include ../components/b-post/b-post
include ../components/b-map/b-map


block head
  head
    +head(head.home)


block header
  +header('Актуальні події', '')


block content
  main.l-main-content
    section.section-area
      .container
        .row.justify-content-between.mb-4.pb-3
          .col-auto
            h1.ui-title.text-uppercase.mb-1 актуальні події
          .col-auto
            form.ui-search.ui-search_w-mod
              input.ui-search__input(type="text" placeholder="Знайти подію")
              button.ui-search__btn
                != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'ic', iconWidth: '24', iconHeight: '24'})

        .ui-label-group.row
          .col-auto
            button.ui-tag(type="button") Мистецтво та Культура
          .col-auto
            button.ui-tag(type="button") Фестивалі
          .col-auto
            button.ui-tag(type="button") Для дітей
          .col-auto
            button.ui-tag(type="button") Спорт
          .col-auto
            button.ui-tag(type="button") Бізнес конференції

        .row
          .col-xl-4
            a.b-post.b-post-1(href="#")
              .b-post__media
                img.b-post__img.img-scale(src="assets/media/content/b-post/498x300/10.jpg", alt="photo")
                span.b-post__label.b-post__label_red фестивалі
                span.b-post__label.b-post__label_date.b-post__label_red
                  span.b-post__label-inner
                    span.b-post__label-number.d-block 12
                    | листопада
              .b-post__title.ui-title-inner Топ 10 місць, які треба відвідати
              .b-post__info Якщо Ви зупинились у Львові транзитом, чи з якихось інших причин у вас немає часу побачити усю красу Львова, Lviv.Travel рекомендує Топ 10 архітектурних перлин Львова, які повинен побачити кожен, хто побував у Львові. Усі вони знаходяться в компактній центра
              time.b-post__date(datetime="2019-01-01") Листопад 14, 2018

          .col-xl-4
            a.b-post.b-post-1(href="#")
              .b-post__media
                img.b-post__img.img-scale(src="assets/media/content/b-post/498x300/11.jpg", alt="photo")
                span.b-post__label.b-post__label_green Мистецтво та Культура
                span.b-post__label.b-post__label_date.b-post__label_green
                  span.b-post__label-inner
                    span.d-block.text-nowrap з
                      span.b-post__label-number  12.10
                    span.d-block.text-nowrap до
                      span.b-post__label-number  05.11
              .b-post__title.ui-title-inner Галицька кухня
              .b-post__info Шукаючи відповіді на те, якою є галицька ментальність, неможливо оминути таку визначальну сферу життя, як кухня, гастрономія, а також звичаї, пов’язані з трапезою. Те, що ми найчастіше називаємо галицькою кухнею, є явищем відносно недавнім. Як певна цілість, вона...
              time.b-post__date(datetime="2019-01-01") Вересень 14, 2018

          .col-xl-4
            a.b-post.b-post-1(href="#")
              .b-post__media
                img.b-post__img.img-scale(src="assets/media/content/b-post/498x300/12.jpg", alt="photo")
                span.b-post__label.b-post__label_red фестивалі
                span.b-post__label.b-post__label_date.b-post__label_red
                  span.b-post__label-inner
                    span.b-post__label-number.d-block 12-25
                    | листопада
              .b-post__title.ui-title-inner Львів — столиця фестивалів
              .b-post__info Львів – це місто величних пам'яток архітектури, розкішних храмів, старовинних площ, затишних вуличок, музеїв та галерей з унікальними мистецькими скарбами різних історичних епох світової цивілізації. Львів – це туристичний центр. У місті Лева дбайливо...
              time.b-post__date(datetime="2019-01-01") Серпень 14, 2018



    section.section-area.pt-5
      .container
        h2.ui-title.text-uppercase рекомендовані події
        .row
          .col-xl-4
            a.b-post.b-post-1(href="#")
              .b-post__media
                img.b-post__img.img-scale(src="assets/media/content/b-post/498x300/10.jpg", alt="photo")
                span.b-post__label.b-post__label_orange для дітей
                span.b-post__label.b-post__label_date.b-post__label_orange
                  span.b-post__label-inner
                    span.b-post__label-number.d-block 12
                    | листопада
              .b-post__title.ui-title-inner Топ 10 місць, які треба відвідати
              .b-post__info Якщо Ви зупинились у Львові транзитом, чи з якихось інших причин у вас немає часу побачити усю красу Львова, Lviv.Travel рекомендує Топ 10 архітектурних перлин Львова, які повинен побачити кожен, хто побував у Львові. Усі вони знаходяться в компактній центра
              time.b-post__date(datetime="2019-01-01") Листопад 14, 2018

          .col-xl-4
            a.b-post.b-post-1(href="#")
              .b-post__media
                img.b-post__img.img-scale(src="assets/media/content/b-post/498x300/11.jpg", alt="photo")
                span.b-post__label.b-post__label_blue спорт
                span.b-post__label.b-post__label_date.b-post__label_blue
                  span.b-post__label-inner
                    span.b-post__label-number.d-block 12
                    | листопада
              .b-post__title.ui-title-inner Галицька кухня
              .b-post__info Шукаючи відповіді на те, якою є галицька ментальність, неможливо оминути таку визначальну сферу життя, як кухня, гастрономія, а також звичаї, пов’язані з трапезою. Те, що ми найчастіше називаємо галицькою кухнею, є явищем відносно недавнім. Як певна цілість, вона...
              time.b-post__date(datetime="2019-01-01") Вересень 14, 2018

          .col-xl-4
            a.b-post.b-post-1(href="#")
              .b-post__media
                img.b-post__img.img-scale(src="assets/media/content/b-post/498x300/12.jpg", alt="photo")
                span.b-post__label.b-post__label_pink бізнес конференції
                span.b-post__label.b-post__label_date.b-post__label_pink
                  span.b-post__label-inner
                    span.b-post__label-number.d-block 12-25
                    | листопада
              .b-post__title.ui-title-inner Львів — столиця фестивалів
              .b-post__info Львів – це місто величних пам'яток архітектури, розкішних храмів, старовинних площ, затишних вуличок, музеїв та галерей з унікальними мистецькими скарбами різних історичних епох світової цивілізації. Львів – це туристичний центр. У місті Лева дбайливо...
              time.b-post__date(datetime="2019-01-01") Серпень 14, 2018

        .text-center
          a.btn-link(href="#") Читати все


    section.section-default
      .container
        h2.ui-title.text-uppercase актуальні події


        +b-map('nav')

        .row
          .col-xl-4
            a.b-post.b-post-1(href="#")
              .b-post__media
                img.b-post__img.img-scale(src="assets/media/content/b-post/498x300/10.jpg", alt="photo")
                span.b-post__label.b-post__label_orange для дітей
                span.b-post__label.b-post__label_date.b-post__label_orange
                  span.b-post__label-inner
                    span.b-post__label-number.d-block 12
                    | листопада
              .b-post__title.ui-title-inner Топ 10 місць, які треба відвідати
              .b-post__info Якщо Ви зупинились у Львові транзитом, чи з якихось інших причин у вас немає часу побачити усю красу Львова, Lviv.Travel рекомендує Топ 10 архітектурних перлин Львова, які повинен побачити кожен, хто побував у Львові. Усі вони знаходяться в компактній центра
              time.b-post__date(datetime="2019-01-01") Листопад 14, 2018

          .col-xl-4
            a.b-post.b-post-1(href="#")
              .b-post__media
                img.b-post__img.img-scale(src="assets/media/content/b-post/498x300/11.jpg", alt="photo")
                span.b-post__label.b-post__label_blue спорт
                span.b-post__label.b-post__label_date.b-post__label_blue
                  span.b-post__label-inner
                    span.b-post__label-number.d-block 12
                    | листопада
              .b-post__title.ui-title-inner Галицька кухня
              .b-post__info Шукаючи відповіді на те, якою є галицька ментальність, неможливо оминути таку визначальну сферу життя, як кухня, гастрономія, а також звичаї, пов’язані з трапезою. Те, що ми найчастіше називаємо галицькою кухнею, є явищем відносно недавнім. Як певна цілість, вона...
              time.b-post__date(datetime="2019-01-01") Вересень 14, 2018

          .col-xl-4
            a.b-post.b-post-1(href="#")
              .b-post__media
                img.b-post__img.img-scale(src="assets/media/content/b-post/498x300/12.jpg", alt="photo")
                span.b-post__label.b-post__label_pink бізнес конференції
                span.b-post__label.b-post__label_date.b-post__label_pink
                  span.b-post__label-inner
                    span.b-post__label-number.d-block 12-25
                    | листопада
              .b-post__title.ui-title-inner Львів — столиця фестивалів
              .b-post__info Львів – це місто величних пам'яток архітектури, розкішних храмів, старовинних площ, затишних вуличок, музеїв та галерей з унікальними мистецькими скарбами різних історичних епох світової цивілізації. Львів – це туристичний центр. У місті Лева дбайливо...
              time.b-post__date(datetime="2019-01-01") Серпень 14, 2018
          .col-xl-4
            a.b-post.b-post-1(href="#")
              .b-post__media
                img.b-post__img.img-scale(src="assets/media/content/b-post/498x300/10.jpg", alt="photo")
                span.b-post__label.b-post__label_orange для дітей
                span.b-post__label.b-post__label_date.b-post__label_orange
                  span.b-post__label-inner
                    span.b-post__label-number.d-block 12
                    | листопада
              .b-post__title.ui-title-inner Топ 10 місць, які треба відвідати
              .b-post__info Якщо Ви зупинились у Львові транзитом, чи з якихось інших причин у вас немає часу побачити усю красу Львова, Lviv.Travel рекомендує Топ 10 архітектурних перлин Львова, які повинен побачити кожен, хто побував у Львові. Усі вони знаходяться в компактній центра
              time.b-post__date(datetime="2019-01-01") Листопад 14, 2018

          .col-xl-4
            a.b-post.b-post-1(href="#")
              .b-post__media
                img.b-post__img.img-scale(src="assets/media/content/b-post/498x300/11.jpg", alt="photo")
                span.b-post__label.b-post__label_blue спорт
                span.b-post__label.b-post__label_date.b-post__label_blue
                  span.b-post__label-inner
                    span.b-post__label-number.d-block 12
                    | листопада
              .b-post__title.ui-title-inner Галицька кухня
              .b-post__info Шукаючи відповіді на те, якою є галицька ментальність, неможливо оминути таку визначальну сферу життя, як кухня, гастрономія, а також звичаї, пов’язані з трапезою. Те, що ми найчастіше називаємо галицькою кухнею, є явищем відносно недавнім. Як певна цілість, вона...
              time.b-post__date(datetime="2019-01-01") Вересень 14, 2018

          .col-xl-4
            a.b-post.b-post-1(href="#")
              .b-post__media
                img.b-post__img.img-scale(src="assets/media/content/b-post/498x300/12.jpg", alt="photo")
                span.b-post__label.b-post__label_pink бізнес конференції
                span.b-post__label.b-post__label_date.b-post__label_pink
                  span.b-post__label-inner
                    span.b-post__label-number.d-block 12-25
                    | листопада
              .b-post__title.ui-title-inner Львів — столиця фестивалів
              .b-post__info Львів – це місто величних пам'яток архітектури, розкішних храмів, старовинних площ, затишних вуличок, музеїв та галерей з унікальними мистецькими скарбами різних історичних епох світової цивілізації. Львів – це туристичний центр. У місті Лева дбайливо...
              time.b-post__date(datetime="2019-01-01") Серпень 14, 2018

        nav(aria-label="Page navigation example")
          ul.pagination.justify-content-center
            li.page-item
              a.page-link(href="#") 1
            li.page-item
              a.page-link(href="#") 2
            li.page-item.active(aria-current="page")
              span.page-link 3
                span.sr-only (поточна)
            li.page-item
              a.page-link(href="#") 4
            li.page-item
              a.page-link(href="#") 5
            li.page-item
              a.page-link(href="#") 6


  // end .main-content
  |
  |


block scripts
  // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')
