extends _template.pug

include ../components/b-post/b-post
include ../components/b-map/b-map
include ../components/b-welcome/b-welcome
include ../components/b-transport/b-transport
include ../components/b-catalog/b-catalog


block head
  head
    +head(head.home)


block header
  +header('Путівники та карти', '')


block content
  main.l-main-content

    section.section-area
      .container
        h1.ui-title.text-uppercase Путівники та карти
        +b-catalog()(class="pb-4")

        +b-map('', 'b-map__main_h800')


    section.section-area.pt-4
      .container
        h2.ui-title.text-uppercase Вас це може зацікавити
        .row
          .col-xl-4
            +b-post-1('498x300/10', 'b-post__label_red', 'Спорт і відпочинок', 'Топ 10 місць, які треба відвідати', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', '')
          .col-xl-4
            +b-post-1('498x300/11', 'b-post__label_orange', 'КАВА ТА СМАКОЛИКИ', 'Галицька кухня', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', '')
          .col-xl-4
            +b-post-1('498x300/12', 'b-post__label_green', 'ФЕСТИВАЛІ І ТВОРЧІСТЬ', 'Львів — столиця фестивалів', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', '')


  // end .main-content
  |
  |


block scripts
  // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')
