extends _template.pug

include ../components/b-post/b-post


block head
  head
    +head(head.home)


block header
  +header('Бізнес', '')


block content
  main.l-main-content
    article.b-post-f.b-post.ui-lh-sm
      .container
        .row.justify-content-between.align-items-baseline
          .col-auto
            h1.b-post__title.ui-title Dream Hostel
          .col-auto
            time.b-post__date.mb-3(datetime="2019-01-01") Листопад 14, 2018
        .b-post__meta
          a.b-post__meta-item(href="#") Львів
          a.b-post__meta-item(href="#") Визначні місця
          a.b-post__meta-item(href="#") Новина
          a.b-post__meta-item(href="#") Львів
          a.b-post__meta-item(href="#") Визначні місця

        .b-post-sidebar
          .b-post-sidebar__section
            .b-post-sidebar__group
              .b-post-sidebar__item.font-weight-bold Адреса:
              |
              |
              a.b-post-sidebar__link.js-popup-video(href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom") Львівська обласна філармонія, вул. Чайковського 7

            .b-post-sidebar__group
              .b-post-sidebar__item.font-weight-bold Телефон:
              |
              |
              a.b-post-sidebar__link(href="tel:+380990000000") +38 (099) 00 00 000

            .b-post-sidebar__group
              .b-post-sidebar__item.font-weight-bold E-mail:
              |
              |
              a.b-post-sidebar__link(href="mailto:email@gmail.com") email@gmail.com


          .b-post-sidebar__section.b-post-sidebar__section_links.text-center
            a.b-post-sidebar__link.text-uppercase.d-block.font-weight-bold.text-nowrap.mb-4(href="#") знаходиться біля
            a.b-post-sidebar__link.text-uppercase.d-block.font-weight-bold.text-nowrap(href="#") подібні місця


        .b-post__media.b-post__media_right.b-post__media_decor
          img.b-post__img.img-scale(src="assets/media/content/b-post/700x470/3.jpg", alt="photo")
          span.b-post__label.b-post__label_red хостели


        p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
        p На відміну від поширеної думки Lorem Ipsum не є випадковим набором літер. Він походить з уривку класичної латинської літератури 45 року до н.е., тобто має більш як 2000-річну історію. Річард Макклінток, професор латини з коледжу Хемпдін-Сидні, що у Вірджінії, вивчав одне з найменш зрозумілих латинських слів - consectetur - з уривку Lorem Ipsum, і у пошуку цього слова в класичній літературі знайшов безсумнівне джерело. Lorem Ipsum походить з розділів 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" ("Про межі добра і зла"), написаного у 45 році до н.е. Цей трактат з теорії етики був дуже популярним в епоху Відродження. Перший рядок Lorem Ipsum, "Lorem ipsum dolor sit amet..." походить з одного з рядків розділу 1.10.32. Класичний текст, використовуваний з XVI сторіччя, наведено нижче для всіх зацікавлених. Також точно за оригіналом наведено розділи 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" разом із перекладом англійською, виконаним 1914 року Х.Рекемом.

        .row.js-zoom-gallery
          .col-lg-4.mb-4
            a.b-post__img-h300.d-inline-block.mt-5.js-zoom-gallery__item(href="assets/media/content/b-post/498x300/10.jpg")
              img.img-scale(src="assets/media/content/b-post/498x300/10.jpg", alt="photo")
            .ui-title-inner.mt-4 1-кімнатні
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила
          .col-lg-4.mb-4
            a.b-post__img-h300.d-inline-block.mt-5.js-zoom-gallery__item(href="assets/media/content/b-post/498x300/11.jpg")
              img.img-scale(src="assets/media/content/b-post/498x300/11.jpg", alt="photo")
            .ui-title-inner.mt-4 2-кімнатні
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила
          .col-lg-4.mb-4
            a.b-post__img-h300.d-inline-block.mt-5.js-zoom-gallery__item(href="assets/media/content/b-post/498x300/12.jpg")
              img.img-scale(src="assets/media/content/b-post/498x300/12.jpg", alt="photo")
            .ui-title-inner.mt-4 3-кімнатні
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила


        p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
        p На відміну від поширеної думки Lorem Ipsum не є випадковим набором літер. Він походить з уривку класичної латинської літератури 45 року до н.е., тобто має більш як 2000-річну історію. Річард Макклінток, професор латини з коледжу Хемпдін-Сидні, що у Вірджінії, вивчав одне з найменш зрозумілих латинських слів - consectetur - з уривку Lorem Ipsum, і у пошуку цього слова в класичній літературі знайшов безсумнівне джерело. Lorem Ipsum походить з розділів 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" ("Про межі добра і зла"), написаного у 45 році до н.е. Цей трактат з теорії етики був дуже популярним в епоху Відродження. Перший рядок Lorem Ipsum, "Lorem ipsum dolor sit amet..." походить з одного з рядків розділу 1.10.32.
        p Класичний текст, використовуваний з XVI сторіччя, наведено нижче для всіх зацікавлених. Також точно за оригіналом наведено розділи 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" разом із перекладом англійською, виконаним 1914 року Х.Рекемом.

        .text-center.mb-5
          a.d-inline-block.mt-5.js-zoom-images(href="assets/media/content/b-post/1140x600/4.jpg")
            img.img-fluid(src="assets/media/content/b-post/1140x600/4.jpg", alt="photo")



  // end .main-content
  |
  |

