extends _template.pug

include ../components/b-post/b-post
include ../components/b-bnr/b-bnr
include ../components/b-map/b-map


block head
  head
    +head(head.home)


block header
  +header('Де зупинитись', '')


block content
  main.l-main-content
    section.section-area
      .container
        .row.justify-content-between.mb-4.pb-3
          .col-auto
            h2.ui-title.text-uppercase.mb-1 Де зупинитись
          .col-auto
            form.ui-search.ui-search_w-mod
              input.ui-search__input(type="text" placeholder="Знайти житло")
              button.ui-search__btn
                != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'ic', iconWidth: '24', iconHeight: '24'})

        .ui-label-group.row
          .col-auto
            button.ui-tag(type="button") готелі
          .col-auto
            button.ui-tag(type="button") хостели
          .col-auto
            button.ui-tag(type="button") апартаменти

        .row
          .col-xl-4
            +b-post-1('498x300/10', 'b-post__label_red', 'хостели', 'Drive Hostel', 'Якщо Ви зупинились у Львові транзитом, чи з якихось інших причин у вас немає часу побачити усю красу Львова, Lviv.Travel рекомендує Топ 10 архітектурних перлин Львова, які повинен побачити кожен, хто побував у Львові. Усі вони знаходяться в компактній центра', '')
          .col-xl-4
            +b-post-1('498x300/11', 'b-post__label_green', 'готелі', 'Dream Hostel Lviv', 'Шукаючи відповіді на те, якою є галицька ментальність, неможливо оминути таку визначальну сферу життя, як кухня, гастрономія, а також звичаї, пов’язані з трапезою. Те, що ми найчастіше називаємо галицькою кухнею, є явищем відносно недавнім. Як певна цілість, вона...', '')
          .col-xl-4
            +b-post-1('498x300/12', 'b-post__label_red', 'хостели', 'Flower Hostel', "Львів – це місто величних пам'яток архітектури, розкішних храмів, старовинних площ, затишних вуличок, музеїв та галерей з унікальними мистецькими скарбами різних історичних епох світової цивілізації. Львів – це туристичний центр. У місті Лева дбайливо...", '')

    +b-bnr()(class="b-bnr_bg-a")

    section.section-default
      .container
        h2.ui-title.text-uppercase популярне житло

        .row
          .col-xl-4
            +b-post-1('498x300/10', 'b-post__label_red', 'хостели', 'Drive Hostel', 'Якщо Ви зупинились у Львові транзитом, чи з якихось інших причин у вас немає часу побачити усю красу Львова, Lviv.Travel рекомендує Топ 10 архітектурних перлин Львова, які повинен побачити кожен, хто побував у Львові. Усі вони знаходяться в компактній центра', '')
          .col-xl-4
            +b-post-1('498x300/11', 'b-post__label_green', 'готелі', 'Dream Hostel Lviv', 'Шукаючи відповіді на те, якою є галицька ментальність, неможливо оминути таку визначальну сферу життя, як кухня, гастрономія, а також звичаї, пов’язані з трапезою. Те, що ми найчастіше називаємо галицькою кухнею, є явищем відносно недавнім. Як певна цілість, вона...', '')
          .col-xl-4
            +b-post-1('498x300/12', 'b-post__label_red', 'хостели', 'Flower Hostel', "Львів – це місто величних пам'яток архітектури, розкішних храмів, старовинних площ, затишних вуличок, музеїв та галерей з унікальними мистецькими скарбами різних історичних епох світової цивілізації. Львів – це туристичний центр. У місті Лева дбайливо...", '')


    section.section-area.pt-5
      .container
        h2.ui-title.text-uppercase актуальне житло

        +b-map()

        .row
          .col-xl-4
            +b-post-1('498x300/10', 'b-post__label_red', 'хостели', 'Drive Hostel', 'Якщо Ви зупинились у Львові транзитом, чи з якихось інших причин у вас немає часу побачити усю красу Львова, Lviv.Travel рекомендує Топ 10 архітектурних перлин Львова, які повинен побачити кожен, хто побував у Львові. Усі вони знаходяться в компактній центра', '')
          .col-xl-4
            +b-post-1('498x300/11', 'b-post__label_green', 'готелі', 'Dream Hostel Lviv', 'Шукаючи відповіді на те, якою є галицька ментальність, неможливо оминути таку визначальну сферу життя, як кухня, гастрономія, а також звичаї, пов’язані з трапезою. Те, що ми найчастіше називаємо галицькою кухнею, є явищем відносно недавнім. Як певна цілість, вона...', '')
          .col-xl-4
            +b-post-1('498x300/12', 'b-post__label_red', 'хостели', 'Flower Hostel', "Львів – це місто величних пам'яток архітектури, розкішних храмів, старовинних площ, затишних вуличок, музеїв та галерей з унікальними мистецькими скарбами різних історичних епох світової цивілізації. Львів – це туристичний центр. У місті Лева дбайливо...", '')
          .col-xl-4
            +b-post-1('498x300/10', 'b-post__label_red', 'хостели', 'Drive Hostel', 'Якщо Ви зупинились у Львові транзитом, чи з якихось інших причин у вас немає часу побачити усю красу Львова, Lviv.Travel рекомендує Топ 10 архітектурних перлин Львова, які повинен побачити кожен, хто побував у Львові. Усі вони знаходяться в компактній центра', '')
          .col-xl-4
            +b-post-1('498x300/11', 'b-post__label_green', 'готелі', 'Dream Hostel Lviv', 'Шукаючи відповіді на те, якою є галицька ментальність, неможливо оминути таку визначальну сферу життя, як кухня, гастрономія, а також звичаї, пов’язані з трапезою. Те, що ми найчастіше називаємо галицькою кухнею, є явищем відносно недавнім. Як певна цілість, вона...', '')
          .col-xl-4
            +b-post-1('498x300/12', 'b-post__label_red', 'хостели', 'Flower Hostel', "Львів – це місто величних пам'яток архітектури, розкішних храмів, старовинних площ, затишних вуличок, музеїв та галерей з унікальними мистецькими скарбами різних історичних епох світової цивілізації. Львів – це туристичний центр. У місті Лева дбайливо...", '')

        nav(aria-label="Page navigation example")
          ul.pagination.justify-content-center
            li.page-item
              a.page-link(href="#") 1
            li.page-item
              a.page-link(href="#") 2
            li.page-item.active(aria-current="page")
              span.page-link 3
                span.sr-only (поточна)
            li.page-item
              a.page-link(href="#") 4
            li.page-item
              a.page-link(href="#") 5
            li.page-item
              a.page-link(href="#") 6


  // end .main-content
  |
  |


block scripts
  // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')
