extends _template.pug

include ../components/b-welcome/b-welcome
include ../components/b-main-slider/b-main-slider
include ../components/b-post/b-post


block head
  head
    +head(head.home)


block header
  +header('', 'userLogin')


block content
  main.l-main-content

    .container
      .row.mt-5.pt-4
        .col-xl-4.mb-4.mb-xl-0
          +b-welcome()
        .col-xl-8.order-xl-first
          +b-main-slider()
    |
    |


    section.section-default
      .container
        h2.ui-title.text-uppercase вже і зараз
        .row
          .col-xl-8.mb-4
            +b-post-2('1025x530/1', 'b-post__label_primary', 'історія та архітектура', 'Детальна історія Львова', '', 'Вересень 14, 2018')
          .col-xl-4.mb-4
            .b-post-carousel.js-slider(data-slick='{"arrows": true, "autoplay": true, "dots": false, "vertical": true, "slidesToShow": 4, "slidesToScroll": 4, "responsive": [{"breakpoint": 767, "settings": {"slidesToShow": 1, "slidesToScroll": 1, "vertical": false}}]}')
              +b-post-3('175x125/1', 'Кава у Львові', 'Чи бачили Ви колись кавові сни? Сни, у яких чуєш шум кавоварок...', 'Вересень 14, 2018')
              +b-post-3('175x125/2', 'Топ 10 місць, які треба відвідати', 'Якщо Ви зупинились у Львові транзитом чи з якихось інших причин...', 'Вересень 14, 2018')
              +b-post-3('175x125/3', 'Скеледром', 'Скелодром розташований в промисловій зоні, в приміщені...', 'Вересень 14, 2018')
              +b-post-3('175x125/4', ' Центр сімейного дозвілля «Булька»', 'Центр організовує дитячі свята, дні...', 'Вересень 14, 2018')
              +b-post-3('175x125/2', 'Топ 10 місць, які треба відвідати', 'Якщо Ви зупинились у Львові транзитом чи з якихось інших причин...', 'Вересень 14, 2018')
              +b-post-3('175x125/3', 'Скеледром', 'Скелодром розташований в промисловій зоні, в приміщені...', 'Вересень 14, 2018')
              +b-post-3('175x125/4', ' Центр сімейного дозвілля «Булька»', 'Центр організовує дитячі свята, дні...', 'Вересень 14, 2018')
              +b-post-3('175x125/1', 'Кава у Львові', 'Чи бачили Ви колись кавові сни? Сни, у яких чуєш шум кавоварок...', 'Вересень 14, 2018')
              +b-post-3('175x125/2', 'Топ 10 місць, які треба відвідати', 'Якщо Ви зупинились у Львові транзитом чи з якихось інших причин...', 'Вересень 14, 2018')
              +b-post-3('175x125/3', 'Скеледром', 'Скелодром розташований в промисловій зоні, в приміщені...', 'Вересень 14, 2018')
              +b-post-3('175x125/1', 'Кава у Львові', 'Чи бачили Ви колись кавові сни? Сни, у яких чуєш шум кавоварок...', 'Вересень 14, 2018')
              +b-post-3('175x125/4', ' Центр сімейного дозвілля «Булька»', 'Центр організовує дитячі свята, дні...', 'Вересень 14, 2018')

        .row.mb-5
          .col-xl-4
            +b-post-1('498x300/1', 'b-post__label_type-1', 'Спорт і відпочинок', 'Топ 10 місць, які треба відвідати', 'Якщо Ви зупинились у Львові транзитом, чи з якихось інших причин у вас немає часу побачити усю красу Львова, Lviv.Travel рекомендує Топ 10 архітектурних перлин Львова, які повинен побачити кожен, хто побував у Львові. Усі вони знаходяться в компактній центра', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/2', 'b-post__label_type-2', 'КАВА ТА СМАКОЛИКИ', 'Галицька кухня', 'Шукаючи відповіді на те, якою є галицька ментальність, неможливо оминути таку визначальну сферу життя, як кухня, гастрономія, а також звичаї, пов’язані з трапезою. Те, що ми найчастіше називаємо галицькою кухнею, є явищем відносно недавнім. Як певна цілість, вона...', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/3', 'b-post__label_type-3', 'ФЕСТИВАЛІ І ТВОРЧІСТЬ', 'Львів — столиця фестивалів', "Львів – це місто величних пам'яток архітектури, розкішних храмів, старовинних площ, затишних вуличок, музеїв та галерей з унікальними мистецькими скарбами різних історичних епох світової цивілізації. Львів – це туристичний центр. У місті Лева дбайливо...", 'Вересень 14, 2018')


    .section-area
      .container-fluid
        .row
          .col-xl-6.ui-bg_sz-cov.parallax(style="background-image: url(assets/media/content/bg/bg-1.jpg)")
            .half-container.half-container_left
              section.section-pv-75.ui-center-vert
                .ui-center-vert__inner.pr-sm-5
                  h2.ui-title.text-uppercase.mb-4 про львів
                  .ui-title-inner.mb-1 Краса, що  перемогла час
                  p Історія Львова настільки ж яскрава та дивовижна, як і саме місто, насичена цікавими подіями та знаменитими постатями.
                  p Сьогодні Львову вже понад 750 років і йому є Вам про що розповісти. Місто, яке було засноване на перетині вигідних торгівельних шляхів скоро розцвітало та розвивалося, ставши одним із головних торгових центрів середньовічної Європи. Згодом, переходячи під влади багатьох європейських країн, зокрема Польщі, Австрії, Німеччини та Росії, Львів перебирав від кожного зі своїх загарбників якусь частину культури та знань, з часом перетворившись не лише на перлину архітектури, але й  столицю сучасного наукового, духовного та мистецького життя.
                  a.btn.btn-primary.mb-4.mt-5(href="#") дізнатись більше


          .col-xl-6.pr-0
            .ui-bg
              img.ui-bg__img.img-scale(src="assets/media/content/b-post/945x730/1.jpg", alt="photo")



    .section-links.section-default
      .container
        .row
          .col-md-6
            .b-links
              .ui-bg
                img.ui-bg__img.img-scale(src="assets/media/content/b-links/bg-1.jpg", alt="photo")
              .b-links__main
                .b-links__title Де зупинитись
                ul.b-links__list.list-unstyled
                  li.b-links__item
                    a.b-links__link(href="#") Готелі
                  li.b-links__item
                    a.b-links__link(href="#") Хостели
                  li.b-links__item
                    a.b-links__link(href="#") Апартаменти

          .col-md-6
            .b-links
              .ui-bg
                img.ui-bg__img.img-scale(src="assets/media/content/b-links/bg-2.jpg", alt="photo")
              .b-links__main
                .b-links__title як дістатись
                ul.b-links__list.list-unstyled
                  li.b-links__item
                    a.b-links__link(href="#") Літак
                  li.b-links__item
                    a.b-links__link(href="#") Поїзд
                  li.b-links__item
                    a.b-links__link(href="#") Автобус


    section.b-video.ui-bg_sz-cov.parallax(style="background-image: url(assets/media/content/bg/bg-2.jpg)")
      .container
        .row.align-items-center
          .col-xl-6.pl-lg-0.col-lg-8
            .b-video__info.pr-5
              h2.ui-title Краса, що  перемогла час
              p Історія Львова настільки ж яскрава та дивовижна, як і саме місто, насичена цікавими подіями та знаменитими постатями.
              p Сьогодні Львову вже понад 750 років і йому є Вам про що розповісти. Місто, яке було засноване на перетині вигідних торгівельних шляхів скоро розцвітало та розвивалося, ставши одним із головних торгових центрів середньовічної Європи. Згодом, переходячи під влади багатьох європейських країн.
          .col-xl-6.col-lg-4.order-lg-first
            a.ui-video.js-popup-video(href="http://www.youtube.com/watch?v=vMdcmDSHaV0")
              img.ui-video__poster.img-scale(src="assets/media/content/posters/1.jpg", alt="poster")
              span.ui-video__arrow
              i.ic


    section.section-default
      .container
        h2.ui-title.text-uppercase популярне у львові
        .row
          .col-xl-4
            +b-post-1('498x300/4', 'b-post__label_type-1', 'Спорт і відпочинок', 'Топ 10 місць, які треба відвідати', 'Якщо Ви зупинились у Львові транзитом, чи з якихось інших причин у вас немає часу побачити усю красу Львова, Lviv.Travel рекомендує Топ 10 архітектурних перлин Львова, які повинен побачити кожен, хто побував у Львові. Усі вони знаходяться в компактній центра', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/5', 'b-post__label_type-2', 'КАВА ТА СМАКОЛИКИ', 'Галицька кухня', 'Шукаючи відповіді на те, якою є галицька ментальність, неможливо оминути таку визначальну сферу життя, як кухня, гастрономія, а також звичаї, пов’язані з трапезою. Те, що ми найчастіше називаємо галицькою кухнею, є явищем відносно недавнім. Як певна цілість, вона...', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/6', 'b-post__label_type-3', 'ФЕСТИВАЛІ І ТВОРЧІСТЬ', 'Львів — столиця фестивалів', "Львів – це місто величних пам'яток архітектури, розкішних храмів, старовинних площ, затишних вуличок, музеїв та галерей з унікальними мистецькими скарбами різних історичних епох світової цивілізації. Львів – це туристичний центр. У місті Лева дбайливо...", 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/7', 'b-post__label_type-1', 'Спорт і відпочинок', 'Топ 10 місць, які треба відвідати', 'Якщо Ви зупинились у Львові транзитом, чи з якихось інших причин у вас немає часу побачити усю красу Львова, Lviv.Travel рекомендує Топ 10 архітектурних перлин Львова, які повинен побачити кожен, хто побував у Львові. Усі вони знаходяться в компактній центра', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/8', 'b-post__label_type-2', 'КАВА ТА СМАКОЛИКИ', 'Галицька кухня', 'Шукаючи відповіді на те, якою є галицька ментальність, неможливо оминути таку визначальну сферу життя, як кухня, гастрономія, а також звичаї, пов’язані з трапезою. Те, що ми найчастіше називаємо галицькою кухнею, є явищем відносно недавнім. Як певна цілість, вона...', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/9', 'b-post__label_type-3', 'ФЕСТИВАЛІ І ТВОРЧІСТЬ', 'Львів — столиця фестивалів', "Львів – це місто величних пам'яток архітектури, розкішних храмів, старовинних площ, затишних вуличок, музеїв та галерей з унікальними мистецькими скарбами різних історичних епох світової цивілізації. Львів – це туристичний центр. У місті Лева дбайливо...", 'Вересень 14, 2018')

        .text-center
          a.btn-link(href="#") Читати все





  // end .main-content
  |
  |
