extends _template.pug

include ../components/b-post/b-post


block head
  head
    +head(head.home)


block header
  +header('Lviv Convention Bureau', '')


block content
  main.l-main-content
    article.b-post-f.b-post.ui-lh-sm.ui-bg_sz-cov.pb-5(style="background-image: url(assets/media/content/bg/bg-4.jpg)")
      .container.mb-5
        h1.b-post__title.ui-title.mb-5 Lviv Convention Bureau

        .b-post__media.b-post__media_right.b-post__media_decor
          img.b-post__img.img-scale(src="assets/media/content/b-post/700x470/4.jpg", alt="photo")


        p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
        p На відміну від поширеної думки Lorem Ipsum не є випадковим набором літер. Він походить з уривку класичної латинської літератури 45 року до н.е., тобто має більш як 2000-річну історію. Річард Макклінток, професор латини з коледжу Хемпдін-Сидні, що у Вірджінії, вивчав одне з найменш зрозумілих латинських слів - consectetur - з уривку Lorem Ipsum, і у пошуку цього слова в класичній літературі знайшов безсумнівне джерело. Lorem Ipsum походить з розділів 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" ("Про межі добра і зла"), написаного у 45 році до н.е. Цей трактат з теорії етики був дуже популярним в епоху Відродження. Перший рядок Lorem Ipsum, "Lorem ipsum dolor sit amet..." походить з одного з рядків розділу 1.10.32. Класичний текст, використовуваний з XVI сторіччя, наведено нижче для всіх зацікавлених. Також точно за оригіналом наведено розділи 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" разом із перекладом англійською, виконаним 1914 року Х.Рекемом.


        p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
        p На відміну від поширеної думки Lorem Ipsum не є випадковим набором літер. Він походить з уривку класичної латинської літератури 45 року до н.е., тобто має більш як 2000-річну історію. Річард Макклінток, професор латини з коледжу Хемпдін-Сидні, що у Вірджінії, вивчав одне з найменш зрозумілих латинських слів - consectetur - з уривку Lorem Ipsum, і у пошуку цього слова в класичній літературі знайшов безсумнівне джерело. Lorem Ipsum походить з розділів 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" ("Про межі добра і зла"), написаного у 45 році до н.е. Цей трактат з теорії етики був дуже популярним в епоху Відродження. Перший рядок Lorem Ipsum, "Lorem ipsum dolor sit amet..." походить з одного з рядків розділу 1.10.32.


    section.section-area.mt-3.pt-5
      .container
        h2.ui-title.text-uppercase бізнес події

        .row
          .col-xl-4
            a.b-post.b-post-1(href="#")
              .b-post__media
                img.b-post__img.img-scale(src="assets/media/content/b-post/498x300/10.jpg", alt="photo")
                span.b-post__label.b-post__label_red ІТ
                span.b-post__label.b-post__label_date.b-post__label_red
                  span.b-post__label-inner
                    span.b-post__label-number.d-block 12
                    | листопада
              .b-post__title.ui-title-inner Львів як центр ІТ
              .b-post__info Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила
              time.b-post__date(datetime="2019-01-01") Листопад 14, 2018

          .col-xl-4
            a.b-post.b-post-1(href="#")
              .b-post__media
                img.b-post__img.img-scale(src="assets/media/content/b-post/498x300/11.jpg", alt="photo")
                span.b-post__label.b-post__label_orange кар’єра
                span.b-post__label.b-post__label_date.b-post__label_orange
                  span.b-post__label-inner
                    span.d-block.text-nowrap з
                      span.b-post__label-number  12.10
                    span.d-block.text-nowrap до
                      span.b-post__label-number  05.11
              .b-post__title.ui-title-inner Твоя кар’єра у Львові
              .b-post__info Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила
              time.b-post__date(datetime="2019-01-01") Вересень 14, 2018

          .col-xl-4
            a.b-post.b-post-1(href="#")
              .b-post__media
                img.b-post__img.img-scale(src="assets/media/content/b-post/498x300/12.jpg", alt="photo")
                span.b-post__label.b-post__label_green інвестиції
                span.b-post__label.b-post__label_date.b-post__label_green
                  span.b-post__label-inner
                    span.b-post__label-number.d-block 12-25
                    | листопада
              .b-post__title.ui-title-inner Інвестиції у Львів
              .b-post__info Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила
              time.b-post__date(datetime="2019-01-01") Серпень 14, 2018


    section.section-area.mt-3
      .container
        h2.ui-title.text-uppercase Вас це може зацікавити
        .row
          .col-xl-4
            +b-post-1('498x300/10', 'b-post__label_red', 'Спорт і відпочинок', 'Топ 10 місць, які треба відвідати', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', '')
          .col-xl-4
            +b-post-1('498x300/11', 'b-post__label_orange', 'КАВА ТА СМАКОЛИКИ', 'Галицька кухня', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', '')
          .col-xl-4
            +b-post-1('498x300/12', 'b-post__label_green', 'ФЕСТИВАЛІ І ТВОРЧІСТЬ', 'Львів — столиця фестивалів', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', '')



  // end .main-content
  |
  |

