extends _template.pug

include ../components/b-login/b-login

block head
  head
    +head(head.home)
  |
  |


block header
  +header('Вхід до системи')

block content
  main.l-main-content
    .container
      section.section-area
        h1.ui-title-page.text-center Вхід
        .row
          .col-lg-4.offset-lg-4
            +b-login()

  // end .l-main-content
  |
  |



block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

