extends _template.pug

include ../components/b-post/b-post
include ../components/b-map/b-map


block head
  head
    +head(head.home)


block header
  +header('Свіжі новини', '')


block content
  main.l-main-content

    section.section-area
      .container
        h1.ui-title.text-uppercase свіжі новини

        .row
          .col-xl-4
            +b-post-1('498x300/10', 'b-post__label_red', 'Спорт і відпочинок', 'Топ 10 місць, які треба відвідати', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/11', 'b-post__label_orange', 'КАВА ТА СМАКОЛИКИ', 'Галицька кухня', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/12', 'b-post__label_green', 'ФЕСТИВАЛІ І ТВОРЧІСТЬ', 'Львів — столиця фестивалів', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/10', 'b-post__label_red', 'Спорт і відпочинок', 'Топ 10 місць, які треба відвідати', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/11', 'b-post__label_orange', 'КАВА ТА СМАКОЛИКИ', 'Галицька кухня', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/12', 'b-post__label_green', 'ФЕСТИВАЛІ І ТВОРЧІСТЬ', 'Львів — столиця фестивалів', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/10', 'b-post__label_red', 'Спорт і відпочинок', 'Топ 10 місць, які треба відвідати', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/11', 'b-post__label_orange', 'КАВА ТА СМАКОЛИКИ', 'Галицька кухня', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')
          .col-xl-4
            +b-post-1('498x300/12', 'b-post__label_green', 'ФЕСТИВАЛІ І ТВОРЧІСТЬ', 'Львів — столиця фестивалів', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Вересень 14, 2018')

        nav(aria-label="Page navigation example")
          ul.pagination.justify-content-center
            li.page-item
              a.page-link(href="#") 1
            li.page-item
              a.page-link(href="#") 2
            li.page-item.active(aria-current="page")
              span.page-link 3
                span.sr-only (поточна)
            li.page-item
              a.page-link(href="#") 4
            li.page-item
              a.page-link(href="#") 5
            li.page-item
              a.page-link(href="#") 6


  // end .main-content
  |
  |


block scripts
  // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')
