extends _template.pug

include ../components/b-post/b-post


block head
  head
    +head(head.home)


block header
  +header('Бізнес', '')


block content
  main.l-main-content
    +b-post-full()



  // end .main-content
  |
  |

