extends _template.pug

include ../components/b-post/b-post
include ../components/b-map/b-map
include ../components/b-welcome/b-welcome
include ../components/b-transport/b-transport
include ../components/b-catalog/b-catalog


block head
  head
    +head(head.home)


block header
  +header('Сплануй подорож', '')


block content
  main.l-main-content
    section.section-area
      .container
        h2.ui-title.text-uppercase.mb-3 Сплануй подорож
        .b-post__meta
          a.b-post__meta-item(href="#") Львів
          a.b-post__meta-item(href="#") Визначні місця
          a.b-post__meta-item(href="#") Новина
          a.b-post__meta-item(href="#") Львів
          a.b-post__meta-item(href="#") Визначні місця
          a.b-post__meta-item(href="#") Новина
          a.b-post__meta-item(href="#") Львів
          a.b-post__meta-item(href="#") Визначні місця
          a.b-post__meta-item(href="#") Новина
          a.b-post__meta-item(href="#") Львів
          a.b-post__meta-item(href="#") Визначні місця
          a.b-post__meta-item(href="#") Новина
          a.b-post__meta-item(href="#") Львів
          a.b-post__meta-item(href="#") Визначні місця
          a.b-post__meta-item(href="#") Новина
          a.b-post__meta-item(href="#") Львів
          a.b-post__meta-item(href="#") Визначні місця
          a.b-post__meta-item(href="#") Новина

        +b-welcome-2('Отримуй Більше', 'ніж просто подорожі', 'Подорожі вчать більше, ніж що б то не було. Іноді один день, проведений в інших місцях, дає більше, ніж десять років життя вдома.')(class="b-welcome-2_trip")
        .ui-lh-sm
          p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
          p На відміну від поширеної думки Lorem Ipsum не є випадковим набором літер. Він походить з уривку класичної латинської літератури 45 року до н.е., тобто має більш як 2000-річну історію. Річард Макклінток, професор латини з коледжу Хемпдін-Сидні, що у Вірджінії, вивчав одне з найменш зрозумілих латинських слів - consectetur - з уривку Lorem Ipsum, і у пошуку цього слова в класичній літературі знайшов безсумнівне джерело. Lorem Ipsum походить з розділів 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" ("Про межі добра і зла"), написаного у 45 році до н.е. Цей трактат з теорії етики був дуже популярним в епоху Відродження. Перший рядок Lorem Ipsum, "Lorem ipsum dolor sit amet..." походить з одного з рядків розділу 1.10.32. Класичний текст, використовуваний з XVI сторіччя, наведено нижче для всіх зацікавлених. Також точно за оригіналом наведено розділи 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" разом із перекладом англійською, виконаним 1914 року Х.Рекемом.



    .section-links.pt-5
      .container
        .row
          .col-md-6
            .b-links
              .ui-bg
                img.ui-bg__img.img-scale(src="assets/media/content/b-links/bg-1.jpg", alt="photo")
              .b-links__main
                .b-links__title Де зупинитись
                ul.b-links__list.list-unstyled
                  li.b-links__item
                    a.b-links__link(href="#") Готелі
                  li.b-links__item
                    a.b-links__link(href="#") Хостели
                  li.b-links__item
                    a.b-links__link(href="#") Апартаменти

          .col-md-6
            .b-links
              .ui-bg
                img.ui-bg__img.img-scale(src="assets/media/content/b-links/bg-2.jpg", alt="photo")
              .b-links__main
                .b-links__title як дістатись
                ul.b-links__list.list-unstyled
                  li.b-links__item
                    a.b-links__link(href="#") Літак
                  li.b-links__item
                    a.b-links__link(href="#") Поїзд
                  li.b-links__item
                    a.b-links__link(href="#") Автобус


    section.section-area
      .container
        h2.ui-title.text-uppercase громадський транспорт

        .row
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 1')
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 2')
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 3')
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 4')



    section.section-area.pt-5
      .container
        h2.ui-title.text-uppercase путівники та карти
        +b-catalog()

        +b-map()


    section.section-area.ui-bg_sz-cov.pt-4.pb-5(style="background-image: url(assets/media/content/bg/bg-3.jpg)")
      .container
        h2.ui-title.text-uppercase все що потрібно знати
        .ui-lh-sm.row
          .col-xl-9
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
            p На відміну від поширеної думки Lorem Ipsum не є випадковим набором літер. Він походить з уривку класичної латинської літератури 45 року до н.е., тобто має більш як 2000-річну історію. Річард Макклінток, професор латини з коледжу Хемпдін-Сидні, що у Вірджінії, вивчав одне з найменш зрозумілих латинських слів - consectetur - з уривку Lorem Ipsum, і у пошуку цього слова в класичній літературі знайшов безсумнівне джерело. Lorem Ipsum походить з розділів 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" ("Про межі добра і зла"), написаного у 45 році до н.е. Цей трактат з теорії етики був дуже популярним в епоху Відродження. Перший рядок Lorem Ipsum, "Lorem ipsum dolor sit amet..." походить з одного з рядків розділу 1.10.32. Класичний текст, використовуваний з XVI сторіччя, наведено нижче для всіх зацікавлених. Також точно за оригіналом наведено розділи 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" разом із перекладом англійською, виконаним 1914 року Х.Рекемом.
        a.btn.btn-primary.mb-5.mt-4(href="#") дізнатись більше


    section.section-default
      .container
        h2.ui-title.text-uppercase Вас це може зацікавити
        .row
          .col-xl-4
            +b-post-1('498x300/10', 'b-post__label_red', 'Спорт і відпочинок', 'Топ 10 місць, які треба відвідати', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', '')
          .col-xl-4
            +b-post-1('498x300/11', 'b-post__label_orange', 'КАВА ТА СМАКОЛИКИ', 'Галицька кухня', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', '')
          .col-xl-4
            +b-post-1('498x300/12', 'b-post__label_green', 'ФЕСТИВАЛІ І ТВОРЧІСТЬ', 'Львів — столиця фестивалів', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', '')


  // end .main-content
  |
  |


block scripts
  // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')
