extends _template.pug

include ../components/b-registration/b-registration

block head
  head
    +head(head.about)


block header
  +header('Реєстрація')


block content
  main.l-main-content
    .container
      .row
        .col-md-8.offset-md-2
          section.section-area
            h1.ui-title-page.text-center Реєстрація
            +b-registration()

  // end .l-main-content
  |
  |


block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

  // Datepicker
  script(src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
  script(src="assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js")






