extends _template.pug

include ../components/b-post/b-post
include ../components/b-map/b-map
include ../components/b-main-slider/b-main-slider
include ../components/b-transport/b-transport
include ../components/b-catalog/b-catalog


block head
  head
    +head(head.home)


block header
  +header('Топові  місця', '')


block content
  main.l-main-content
    section.section-area
      .container
        .row.justify-content-between.mb-4.pb-3
          .col-auto
            h1.ui-title.text-uppercase.mb-1 топові  місця
          .col-auto
            form.ui-search.ui-search_w-mod
              input.ui-search__input(type="text" placeholder="Знайти подію")
              button.ui-search__btn
                != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'ic', iconWidth: '24', iconHeight: '24'})



    .section-area
      .container
        .row
          .col-lg-4.col-md-6
            +b-post-4('498x300/5', 'b-post__label_green', 'Їжа та напої', 'Детальна історія Львова', '')(class="b-post-4 b-post_hover b-post_hover_green")
          .col-lg-4.col-md-6
            +b-post-4('498x300/13', 'b-post__label_red', 'Музеї/Галереї', 'Детальна історія Львова', '')(class="b-post-4 b-post_hover b-post_hover_red")
          .col-lg-4.col-md-6
            +b-post-4('498x300/14', 'b-post__label_orange', 'Театри/Філармонії', 'Детальна історія Львова', '')(class="b-post-4 b-post_hover b-post_hover_orange")
          .col-lg-4.col-md-6
            +b-post-4('498x300/15', 'b-post__label_blue', "Пам'ятки", 'Детальна історія Львова', '')(class="b-post-4 b-post_hover b-post_hover_blue")
          .col-lg-4.col-md-6
            +b-post-4('498x300/16', 'b-post__label_pink', 'Громадські місця', 'Детальна історія Львова', '')(class="b-post-4 b-post_hover b-post_hover_pink")
          .col-lg-4.col-md-6
            +b-post-4('498x300/17', 'b-post__label_green', 'Атракції', 'Детальна історія Львова', '')(class="b-post-4 b-post_hover b-post_hover_green")
          .col-lg-4.col-md-6
            +b-post-4('498x300/18', 'b-post__label_red', 'Парки', 'Детальна історія Львова', '')(class="b-post-4 b-post_hover b-post_hover_red")
          .col-lg-4.col-md-6
            +b-post-4('498x300/19', 'b-post__label_orange', 'Тури', 'Детальна історія Львова', '')(class="b-post-4 b-post_hover b-post_hover_orange")
          .col-lg-4.col-md-6
            +b-post-4('498x300/20', 'b-post__label_blue', 'Навколо Львова', 'Детальна історія Львова', '')(class="b-post-4 b-post_hover b-post_hover_blue")


        nav(aria-label="Page navigation example")
          ul.pagination.justify-content-center
            li.page-item
              a.page-link(href="#") 1
            li.page-item
              a.page-link(href="#") 2
            li.page-item.active(aria-current="page")
              span.page-link 3
                span.sr-only (поточна)
            li.page-item
              a.page-link(href="#") 4
            li.page-item
              a.page-link(href="#") 5
            li.page-item
              a.page-link(href="#") 6

  // end .main-content
  |
  |


block scripts
  // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')
