extends _template.pug

include ../components/b-post/b-post
include ../components/b-map/b-map
include ../components/b-welcome/b-welcome
include ../components/b-transport/b-transport
include ../components/b-catalog/b-catalog


block head
  head
    +head(head.home)


block header
  +header('Сплануй подорож', '')


block content
  main.l-main-content
    section.section-area
      .container
        .row.justify-content-between.mb-4.pb-3
          .col-auto
            h1.ui-title.text-uppercase.mb-1 громадський транспорт
          .col-auto
            form.ui-search.ui-search_w-mod
              input.ui-search__input(type="text" placeholder="Знайти транспорт")
              button.ui-search__btn
                != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'ic', iconWidth: '24', iconHeight: '24'})

        .ui-label-group.row
          .col-auto
            button.ui-tag(type="button") трамваї
          .col-auto
            button.ui-tag(type="button") тролейбуси
          .col-auto
            button.ui-tag(type="button") автобуси



        .row
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 1')
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 2')
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 3')
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 4')
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 1')
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 2')
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 3')
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 4')
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 1')
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 2')
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 3')
          .col-xl-3.col-md-6
            +b-transport('365x200/1', 'Трамвай № 4')


        nav(aria-label="Page navigation example")
          ul.pagination.justify-content-center
            li.page-item
              a.page-link(href="#") 1
            li.page-item
              a.page-link(href="#") 2
            li.page-item.active(aria-current="page")
              span.page-link 3
                span.sr-only (поточна)
            li.page-item
              a.page-link(href="#") 4
            li.page-item
              a.page-link(href="#") 5
            li.page-item
              a.page-link(href="#") 6



    section.section-area.pt-5.mt-4
      .container
        h2.ui-title.text-uppercase Вас це може зацікавити
        .row
          .col-xl-4
            +b-post-1('498x300/10', 'b-post__label_red', 'Спорт і відпочинок', 'Топ 10 місць, які треба відвідати', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', 'Листопад 14, 2018')
          .col-xl-4
            +b-post-1('498x300/11', 'b-post__label_orange', 'КАВА ТА СМАКОЛИКИ', 'Галицька кухня', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', '')
          .col-xl-4
            +b-post-1('498x300/12', 'b-post__label_green', 'ФЕСТИВАЛІ І ТВОРЧІСТЬ', 'Львів — столиця фестивалів', 'Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила ', '')


  // end .main-content
  |
  |


block scripts
  // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')
