mixin b-map(nav, mapHeight)

  if nav
    .b-map-nav
      span.b-map-nav__link.active всі
      a.b-map-nav__link(href="#") на сьогодні
      a.b-map-nav__link(href="#") на 3 дні
      a.b-map-nav__link(href="#") на тиждень

  .b-map
    .b-map-filters.row
      .col-md-6.col-lg-3.mb-2.mb-lg-4
        .ui-search
          input.ui-search__input(type="text" placeholder="Пошук")
          span.ui-search__btn
            != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'ic', iconWidth: '24', iconHeight: '24'})
      .col-md-6.col-lg-3.mb-2.mb-lg-4
        select.selectpicker(data-width="100%" title="Локація" multiple data-max-options="1" data-style="ui-select")
          option(value="") Локація 1
          option(value="") Локація 2
          option(value="") Локація 3
      .col-md-6.col-lg-3.mb-2.mb-lg-4
        select.selectpicker(data-width="100%" title="Категорія" multiple data-max-options="1" data-style="ui-select")
          option(value="") Категорія 1
          option(value="") Категорія 2
          option(value="") Категорія 3
      .col-md-6.col-lg-3.mb-2.mb-lg-4
        button.btn.btn-primary.w-100.pl-0.pr-0.pl-xl-3.pr-xl-3 Застосувати фільтр

    .b-map__main(class= mapHeight)
      #map-main
      a.btn.btn-primary(href="#") що поряд



  // end .b-map



mixin b-map-2(nav, mapHeight)

  if nav
    .b-map-nav
      span.b-map-nav__link.active всі
      a.b-map-nav__link(href="#") на сьогодні
      a.b-map-nav__link(href="#") на 3 дні
      a.b-map-nav__link(href="#") на тиждень

  .b-map(class!=attributes.class)
    .b-map-filters.row
      .col-lg-6
        .row
          .col-sm-6.mb-3
            .ui-search
              input.ui-search__input(type="text" placeholder="Пошук")
              span.ui-search__btn
                != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'ic', iconWidth: '24', iconHeight: '24'})
          .col-sm-6.mb-3
            select.selectpicker(data-width="100%" title="Локація" multiple data-max-options="1" data-style="ui-select")
              option(value="") Локація 1
              option(value="") Локація 2
              option(value="") Локація 3
        .row.align-items-center
          .col-sm-6.mb-3
            select.selectpicker(data-width="100%" title="Категорія" multiple data-max-options="1" data-style="ui-select")
              option(value="") Категорія 1
              option(value="") Категорія 2
              option(value="") Категорія 3
          .col-sm-6.mb-3
            .ui-rating
              .ui-rating__title Рейтинг:
              ul.ui-rating__list.list-unstyled
                li.ui-rating__item
                  != pugHelpers.Icon.call(locals, {iconName: 'star-fill', className: 'ic active', iconWidth: '26', iconHeight: '25'})
                li.ui-rating__item
                  != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '26', iconHeight: '25'})
                li.ui-rating__item
                  != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '26', iconHeight: '25'})
                li.ui-rating__item
                  != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '26', iconHeight: '25'})
                li.ui-rating__item
                  != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '26', iconHeight: '25'})

        button.btn.btn-primary.w-100.mt-3.pl-0.pr-0.pl-xl-3.pr-xl-3.mb-3.mb-xl-0 Застосувати фільтр


      .col-lg-6
        .b-map__main(class= mapHeight)
          #map-main
          a.btn.btn-primary(href="#") що поряд



  // end .b-map
