.b-map {
  background-color: #cccccc;
  padding: 30px 40px 40px;
  margin-bottom: 60px;
  &__main {
    position: relative;
    height: 200px;
    .btn {
      min-width: 275px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &_h230 {
      height: 230px;
    }
    &_h300 {
      height: 300px;
    }
    &_h800 {
      height: 800px;
    }
  }
  #map-main {
    height: 100%;
  }

  &_2-col {
    margin-top: 70px;
    .b-map-filters {
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-left: 5px;
    padding-right: 5px;
  }
}



.b-map-nav {
  text-align: center;
  margin-bottom: 30px;
  &__link {
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    text-decoration: none;
    color: $color-main;
    text-transform: uppercase;
    font-weight: 600;
    &:hover,
    &.active {
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    &__link {
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
