mixin footer()
  footer.footer
    .container
      .row
        .col-md-5
          .footer-main
            .footer-logo
              span.footer-logo__item
                a.footer-logo__link(href="#")
                  img.img-fluid(src="assets/media/general/logo-light.png", alt="Логотип")

            .footer__title Інформаційний портал
              span.footer__title-sm м. Львів
            a.footer__btn.btn.btn-white(href="#") Зворотній зв'язок

        .col-md-7
          .row
            .col-md-6
              .footer-section
                .footer-section__title Меню
                ul.footer-list.list-unstyled
                  li.footer-list__item
                    a.footer-list__link(href="#") Про проект
                  li.footer-list__item
                    a.footer-list__link(href="#") Інструкції
                  li.footer-list__item
                    a.footer-list__link(href="#") Нормативно-правова база
                  li.footer-list__item
                    a.footer-list__link(href="#") Повідомити про технічни негаразди або пропозиції
                  li.footer-list__item
                    a.footer-list__link(href="#") Сервіси
            .col-md-6
              .footer-section.d-none.d-md-block
                .footer-section__title Меню
                ul.footer-list.list-unstyled
                  li.footer-list__item
                    a.footer-list__link(href="#") Про проект
                  li.footer-list__item
                    a.footer-list__link(href="#") Інструкції
                  li.footer-list__item
                    a.footer-list__link(href="#") Нормативно-правова база
                  li.footer-list__item
                    a.footer-list__link(href="#") Повідомити про технічни негаразди або пропозиції
                  li.footer-list__item
                    a.footer-list__link(href="#") Сервіси


      .footer-bottom
        .row.align-items-center
          .col-lg-4
            .footer-devel
              a.footer-devel__img(href="bissoft.org" target="_blank")
                img(src="assets/media/general/logo-bisoft.png", alt="«БІС-СОФТ»")
              a.footer-devel__text(href="bissoft.org" target="_blank") Компанія «БІС-СОФТ»<br>Всі права захищені.

          .col-lg
            .footer-copyright
              != pugHelpers.Icon.call(locals, {iconName: 'creative-commons', className: 'ic', iconWidth: '30', iconHeight: '30'})
              .footer-copyright__info Всі матеріали сайту доступні за ліцензією: Creative Commons «Attribution» 4.0 Всесвітня
