.footer {
  padding-top: 77px;
  padding-bottom: 45px;
  background-image: url(../media/general/bg-footer.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-color: #08183B;
  color: #dde1e6;
  &__title {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 1.333;
    margin-bottom: 20px;
  }
  &__title-sm {
    display: block;
    font-size: 1.2rem;
  }
  &__btn {
    padding: 8px 35px;
  }
  .soc-link__link {
    color: #c7ccd1;
  }

  @include media-breakpoint-down(sm) {
    background: #08183B;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    &__btn {
      margin-bottom: 20px;
    }
    &__title-sm {
      color: #ffffff;
      font-size: 0.875rem;
    }
    &__title {
      font-size: 1.25rem;
      padding-bottom: 32px;
      margin-bottom: 32px;
      border-bottom: 1px solid #fff;
    }
  }
}

.footer-section {
  &__title {
    color: #f4f7fb;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 35px;
    margin-bottom: 78px;
    &__title {
      display: none;
    }
  }
}

.footer-logo {
  margin-bottom: 26px;
  &__item {
    display: inline-block;
    max-width: 78px;
    &:nth-child(2) {
      position: relative;
      &:before {
        margin-left: 18px;
        margin-right: 12px;
        content: '';
        width: 4px;
        height: 64px;
        display: inline-block;
        vertical-align: top;
        background: -moz-linear-gradient(top, #005bbb 0%, #005bbb 50%, #ffd500 50%, #ffd500 100%);
        background: -webkit-linear-gradient(top, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
        background: linear-gradient(to bottom, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005bbb', endColorstr='#ffd500',GradientType=0 );
      }
    }
  }
}

.footer-list {
  &__item {
    margin-bottom: 8px;
  }
  &__link {
    color: #e2e2e2;
    line-height: 1.5;
    &:hover {
      color: #FFF;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
    &__link {
      color: #ffffff;
      font-weight: 600;
    }
  }
}

.footer-main {}
.footer-bottom {
  margin-top: 12px;
  padding-top: 38px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  @include media-breakpoint-down(sm) {
    text-align: center;
    margin-top: 20px;
    padding-top: 18px;
  }
}

.footer-copyright {
  position: relative;
  .ic {
    position: absolute;
    top: calc(50% - 15px);
    left: -37px;
    fill: #dde1e6;
  }

  @include media-breakpoint-down(sm) {
    text-align: left;
    margin-bottom: 25px;
    &__info {
      padding-left: 45px;
    }
    .ic {
      position: relative;
      top: 0;
      left: 0;
      float: left;
    }
  }
}

.footer-devel {
  &__img {
    float: left;
    margin-right: 14px;
  }
  &__text {
    color: #dde1e6;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }

  @include media-breakpoint-down(sm) {
    text-align: left;
    display: inline-block;
    &__text {
      white-space: nowrap;
      display: inline-block;
    }
  }
}
