mixin b-welcome()

  .b-welcome(class!=attributes.class)
    .b-welcome__info Вітаємо Вас на інформаціфному порталі Львова! Львів - місто, яке зачаровує з першого погляду. Кожна вуличка Львова наповнена стародавнім шармом, ароматами кави, духом романтики і архітектурною довершеністю!
    .row.align-items-center
      .col-auto
        .b-welcome__img
          img.img-scale(src="assets/media/content/b-welcome/face.jpg", alt="foto")
      .col
        .b-welcome__name андрій садовий
        .b-welcome__category Міський голова Львова

  // end .b-welcome
  |
  |


mixin b-welcome-2(decor, title, info)

  .b-welcome-2(class!=attributes.class)
    .b-welcome-2__inner
      .b-welcome-2__title
        span.b-welcome-2__title-decor.text-primary= decor
        span.b-welcome-2__title-inner= title
      .row
        .col-xl-6.offset-xl-3
            .b-welcome-2__info= info

  // end .b-welcome
  |
  |
