.header {
  z-index: 10;
  position: relative;
  box-shadow: 0 0 1.563rem rgba(0, 0, 0, 0.15);
  &__gov {
    float: left;
  }
  .soc-link {
    float: left;
    padding-left: 20px;
    padding-top: 6px;
    &__item {
      line-height: 1;
      vertical-align: middle;
    }
    svg.ic {
      fill: #f4f7fb;
      width: 40px;
      height: 40px;
    }
    &__link {
      color: #f4f7fb;
    }
  }
  &__accessibility {
    margin-right: 30px;
    .ic {
      fill: #dde1e6;
    }
  }

  .navbar-toggler {
    float: right;
  }

  @include media-breakpoint-down(md) {
    &__gov {
      margin-right: 20px;
    }
    .gov-logo-dark .wrap-text .one {
      color: #337AB7;
    }
    .soc-link {
      padding-left: 0;
      text-align: center;
      float: none;
      margin-bottom: 15px;
      &__link {
        .ic {
          color: #c7ccd1;
        }
      }
    }
  }
}

.header-nav {
  @include media-breakpoint-down(md) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header-top {
  padding: 8px 0 8px;
  background-color: #234161;
  a {
    &:hover {
      text-decoration: none;
      opacity: 0.5;
    }
  }
  @include media-breakpoint-down(md) {
    background-color: #FFF;
  }
}


.header-user {
  position: relative;
  margin-left: 30px;
  &__link {
    color: #dde1e6;
    font-weight: 600;
    font-size: 1rem;
    &:hover {
      color: #dde1e6;
    }
    .ic {
      fill: #f5f7fa;
    }
  }
  &__body {
    box-shadow: 0 2px 4px rgba(0, 7, 123, 0.04), 0 8px 20px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 15px 12px 15px 16px;
  }
  &__content {
    @include cl;
  }
  &__img {
    position: relative;
    width: 136px;
    height: 136px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    .ic {
      opacity: 0.7;
      position: absolute;
      left: 50%;
      top: 50%;
      color: #FFF;
    }
  }
  &__inner {
    padding-left: 160px;
  }
  &__title {
    border-bottom: solid 3px #DDE1E6;
    color: #3b4256;
    font-weight: 600;
    line-height: 1.444;
    font-size: 1.2rem;
    border-bottom: 3px solid #dde1e6;
    padding-bottom: 14px;
    padding-right: 15px;
  }
  &__subtitle {
    white-space: nowrap;
    display: block;
  }
  &__btn {
    display: block;
    margin-top: 10px;
    text-align: left;
  }
  &__links-item {
    &:not(:last-child) {
      border-bottom: 1px solid #dde1e6;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
  &__links-nav {
    font-size: 1.125rem;
    font-weight: 600;
    color: $color-main;
  }

  @include media-breakpoint-down(md) {
    float: none;
    margin: 20px 0;
    text-align: center;
    &__body {
      top: auto;
      bottom: 100%;
      left: calc(50% - 160px);
      width: 320px;
    }
    &__subtitle {
      white-space: normal;
    }
    &__img {
      width: 100px;
      height: 100px;
    }
    &__inner {
      padding-left: 120px;
    }
  }
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
  margin-right: 40px;
  &__link {
    display: inline-block;
    max-width: 68px;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    &:nth-child(2) {
      position: relative;
      &:before {
        margin-left: 20px;
        margin-right: 10px;
        content: '';
        width: 4px;
        height: 64px;
        display: inline-block;
        vertical-align: middle;
        background: -moz-linear-gradient(top, #005bbb 0%, #005bbb 50%, #ffd500 50%, #ffd500 100%);
        background: -webkit-linear-gradient(top, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
        background: linear-gradient(to bottom, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005bbb', endColorstr='#ffd500',GradientType=0 );
      }
    }
    img {
      height: auto;
      max-width: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    &:not(.header-logo_nav) {
      float: left;
    }
    &:not(.header-logo_nav) & {
      float: left;
      &__item {
        &:nth-child(2) {
          &:before {
            height: 32px;
            vertical-align: middle;
          }
        }
      }
      &__link {
        height: 40px;
        img {
          max-height: 100%;
        }
      }
    }

    &_nav {
      display: block;
      text-align: center;
      padding-top: 30px;
    }
  }
}

.header-language {
  display: inline-block;
  position: relative;
  margin-left: 30px;
  &__link {
    color: #DDE1E6;
    font-size: 1rem;
    font-weight: 600;
    .ic {
      fill: #f5f7fa;
    }
    &:hover {
      text-decoration: none;
    }
  }
  &__body {
    padding: 10px 20px 10px 22px;
  }
  &__item {
    display: block;
    white-space: nowrap;
    position: relative;
    padding-left: 60px;
    color: $color-main;
    &:not(:last-child) {
      .header-language__name {
        border-bottom: 1px solid #dde1e6;
        padding-bottom: 7px;
        margin-bottom: 10px;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  &__flag {
    position: absolute;
    left: 0;
    top: 0;
  }
  &__name {
    display: block;
    font-weight: 600;
    font-size: 1.125rem;
  }

  .ic {
    fill: #f5f7fa;
  }

  @include media-breakpoint-down(md) {
    display: block;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 0;
    &__link {
      font-weight: 600;
      font-size: .875rem;
      padding-left: 0;
    }
    &__body {
      top: auto;
      bottom: 100%;
      left: calc(50% - 94px);
    }
  }
}


.header-search {
  position: relative;
  transition: all .3s;
  &__input {
    border:1px solid #cccccc;
    border-radius: 1.563rem;
    display: inline-block;
    transition: all .3s;
    background-color: #FFF;
    width: 15vw;
    color: $color-main;
    font-size: 0.875rem;
    line-height: 1;
    padding: 16px 70px 16px 20px;

    @include placeholder {
      color: #ccc;
    }

    &:focus {
      outline: none;
    }
  }
  &__btn {
    position: absolute;
    right: 20px;
    top: 15px;
    line-height: 1;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: all .3s;
  }

  @include media-breakpoint-down(lg) {
    &__input {
      width: auto;
      max-width: 200px;
    }
  }

  @include media-breakpoint-down(md) {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    &__input {
      width: 100%;
    }
  }
}


.header-main {
  .navbar-collapse {
    position: relative;
  }

  @include media-breakpoint-down(md) {
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #08183B;
    .navbar-collapse {
      padding-top: 20px;
      &.show {
        min-height: 100vh;
      }
    }
    .navbar-toggler {
      position: absolute;
      right: 10px;
      top: 10px;
      fill: #d4d5d7;
    }
    &__inner {
      border-bottom: none;
    }
  }
}
