.section-links {
  margin-bottom: 180px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 75px;
  }
}

.b-links {
  text-align: center;
  position: relative;
  height: 350px;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
  }
  &__main {
    position: relative;
    z-index: 1;
    padding-top: 120px;
    line-height: 1;
  }
  &__title {
    font-size: 2.45rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 0px 1px 10px #000;
  }
  &__list {
    box-shadow: 0 0.625rem 2.5rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255,255,255,.95);
    width: 475px;
    margin: -10px auto -85px;
    padding-top: 83px;
    padding-bottom: 60px;
  }
  &__item {
    margin-bottom: 23px;
  }
  &__link {
    color: $color-main;
    font-size: 1.5rem;
    &:hover {
      text-decoration: none;
    }
  }
  .ui-bg {
    position: absolute;
    top: 0;
    left: 0;
  }


  @include media-breakpoint-down(lg) {
    &__list {
      width: 90%;
    }
  }

  @include media-breakpoint-down(sm) {
    height: auto;
    &__list {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}
