mixin b-bnr()

  .b-bnr(class!=attributes.class)
    .container
      .row
        .col-xl-8.offset-xl-2
          .b-bnr__main.ui-lh-sm
            p У Львові є понад 200 готелів, різних класів та на будь-який смак. Великий вибір готелів є як в центрі Львова, так і в районах міста і на околицях міста.
            p Популярним житлом у Львові є хостели. Хостели пропонують багатомісні і індивідуальні кімнати, за доступні ціни, з можливість приготувати їжу самостійно на кухні.
            p Багато туристів у Львові надають перевагу оренді квартир подобово. В нас на сайті є можливість вибрати і винайняти апартаменти різного розміру та в різних частинах міста.
            p Відтепер на сайті
              |
              |
              a(href="#") lviv.travel
              |  є можливість забронювати номер в готелі чи місце в хостелі онлайн. Це зручно, оскільки Ви комунікуєте безпосередньо з готелем і Ви нічого не переплачуєте. Широкий вибір параметрів пошуку і фотографії дозволяють знайти саме те місце проживання, яке Ви шукали і яке дозволить як найкраще познайомитись зі Львовом.

  // end .b-bnr
  |
  |


mixin b-bnr-2()

  .b-bnr(class!=attributes.class)
    .container
      .row
        .col-xl-8.offset-xl-2
          .b-bnr__main.ui-lh-sm
            p Львів – чудовий новий напрямок на мапі Східної Європи для проведення ділових зустрічей із Вашими партнерами, а також конференцій, форумів чи масштабних конгресів. Львів також пропонує широкі можливості корпоративного відпочинку у місті та поза містом.
            p У Львові є понад 80 конференц-залів різної величини (найбільший може вмістити 2000 осіб одночасно) в локаціях чотирьох типів: вищі навчальні заклади, унікальні. заклади, бізнес-центри та готелі. Гостей міста ми можемо поселити у понад 70 готелях, 38 з яких є 3* та 5* зірковими, а також апартаментах. Наших гостей ми будемо частувати у вишуканих ресторанах, затишних кав’ярнях та тематичних кнайпах, які одночасно можуть вмістити 17 250 осіб.
            p Добратися до міста Лева просто, адже тут діє міжнародний аеропорт «Львів», новий термінал «А» якого був відкритий весною 2012 року. 16 авіакомпаній здійснюють рейси з аеропорту у більш ніж 30 напрямків. Здійснюються щоденні рейси до Варшави, Відня, Києва та Москви. Відстань від аеропорту до центру міста становить 7 км.

  // end .b-bnr
  |
  |

