.b-bnr {
  margin-top: 25px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;

  &__main {
    color: #424242;
    padding: 45px 40px 33px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, .95);
  }

  &_bg-a {
    background-image: url("../media/content/b-bnr/bg-1.jpg");
  }

  &_bg-b {
    background-image: url("../media/content/b-bnr/bg-2.jpg");
  }

  @include media-breakpoint-down(sm) {
    &__main {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
